@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');body,html{ height: 100%;   font-family: "raleway", sans-serif;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
h1,h2,h3,h4,h5,h6{ margin: 0;color: #000;font-weight: 700;   font-family: "Poppins", sans-serif;}
h1{ font-size: 111px;}
h2{ font-size: 36px;}
h3{ font-size: 30px;}
h4{ font-size: 24px;}
h5{ font-size: 18px;}
h6{ font-size: 16px;}
img{ max-width: 100%;}
button:focus,input:focus,select:focus,textarea:focus{ outline: 0;}
a:focus,a:hover{ text-decoration: none;outline: 0;color: #fff;}
ol,ul{ padding: 0;margin: 0;}
.section-title{ margin-bottom: 70px;text-align: center;}
.section-title.normal-title{ text-align: left;}
.section-title.normal-title h3:after{ margin: 0;}
.new-cnt-fluid{width: 77%;}
.section-title h3{ color: #111;font-weight: 700;text-transform: uppercase;position: relative;}
.hoverRed:hover{ color: red;}
.progress-wrap{ position: fixed;right: 50px;bottom: 50px;height: 46px;width: 46px;cursor: pointer;display: block;border-radius: 50px;box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);z-index: 10000;opacity: 0;visibility: hidden;transform: translateY(15px);-webkit-transition: all .2s linear;transition: all .2s linear;}
.progress-wrap.active-progress{ opacity: 1;visibility: visible;transform: translateY(0);}
.progress-wrap::after{ position: absolute;font-family: 'Font Awesome 5 Free';font-weight: 900;content: '\f062';text-align: center;line-height: 46px;font-size: 18px;color: #fc0203;left: 0;top: 0;height: 46px;width: 46px;cursor: pointer;display: block;z-index: 1;-webkit-transition: all .2s linear;transition: all .2s linear;}
.lightScrollIcon::after{ color: #ecedf3!important;}
.progress-wrap:hover::after{ opacity: 0;}
.progress-wrap::before{ position: absolute;font-family: 'Font Awesome 5 Free';font-weight: 900;content: '\f062';text-align: center;line-height: 46px;font-size: 18px;opacity: 0;background-image: linear-gradient(298deg,#da2c4d,#f8ab37);-webkit-background-clip: text;-webkit-text-fill-color: transparent;left: 0;top: 0;height: 46px;width: 46px;cursor: pointer;display: block;z-index: 2;-webkit-transition: all .2s linear;transition: all .2s linear;}
.progress-wrap:hover::before{ opacity: 1;}
.progress-wrap svg path{ fill: none;}
.progress-wrap svg.progress-circle path{ stroke: #3881c7;stroke-width: 4;box-sizing: border-box;-webkit-transition: all .2s linear;transition: all .2s linear;}
.section-title h3:after{ position: absolute;left: 0;bottom: -30px;right: 0;height: 13px;width: 83px;background-image: url(../img/line.png);content: "";margin: 0 auto;}
.set-bg{ background-repeat: no-repeat;background-size: cover;background-position: top center;}
.spad{ padding-top: 100px;padding-bottom: 100px;}
.text-white a,.text-white h1,.text-white h2,.text-white h3,.text-white h4,.text-white h5,.text-white h6,.text-white li,.text-white p,.text-white span{ color: #fff;}
.point-tabl{ text-align: left;font-weight: 800;}
.point-tabl ul li{ color: #323232;line-height: 40px;font-size: 18px;}
.primary-btn{ display: inline-block;font-size: 34px;color: #fff;background: #7355f7;font-weight: 800;border-radius: 0;transform: skew(-20deg);box-shadow: -10px 10px 0 1px #caecff;height: 80px;width: 266px;text-align: center;line-height: 76px;}
.primary-btn:hover{ background-color: #481fff;}
.hero__text h6{ margin-left: 13px;}
.site-btn{ font-size: 14px;color: #fff;font-weight: 700;text-transform: uppercase;display: inline-block;padding: 13px 30px 12px;background: #4c57d6;border: none;border-radius: 50px;}
.img svg{ margin: 0 auto;width: 100%;padding: 15px 0 0 0; z-index: 333;}
.freatures-project a{ text-align: center;display: block;font-weight: 600;color: #707070; z-index: 333;}
.support-section h5{ font-size: 24px;}
.customer-logos b{ font-size: 14px;margin: 0 10px 10px 10px!important;display: block;}
.customer-logos .slide{ border: 1px dashed #ccc;text-align: center;-webkit-box-shadow: inset 3px 2px 24px -5px rgba(0,0,0,.2);-moz-box-shadow: inset 3px 2px 24px -5px rgba(0,0,0,.2);box-shadow: inset 3px 2px 24px -5px rgba(0,0,0,.2);}
.loader{ width: 40px;height: 40px;position: absolute;top: 50%;left: 50%;margin-top: -13px;margin-left: -13px;border-radius: 60px;animation: loader .8s linear infinite;-webkit-animation: loader .8s linear infinite;}
.partners h2{ padding: 20px 20px 20px 20px;color: #595959;text-align: left;margin-left: 20px;font-size: 30px;}
.border{ background-color: #fff;}
.award{ position: relative; padding: 35px 0; background-color: #f7f7f7; }
.award .cmp-award{ position: relative;}
.award .cmp-award h5{ color: #005EB8;}
.award .cmp-award p{ color: #b8b8b8;}
.award .cmp-award .cnt{ padding: 12px 0; position: relative; }
.award .cmp-award .img-award{ position: relative; }
.award .cmp-award .img-award-1{ position: relative;}
.award .cmp-award .img-award:after{ position: absolute; content: ""; left: -33px ; top: 0; border-right:1px solid #c6c6c6; height: 100%; }
.reword-pad{ padding: 0 0; }
.new-radius{ border-radius: 5px 5px 5px 5px; }
.reviews-new{
    position: relative;
  background: linear-gradient(to left,#23428b 0,#1d094c 100%);
}


.slide-tab strong{ color:#F80A3A; }








.hov-bdr-2::after{ position: absolute; top: 0; left: 0; width: 100%; height: 80px; content: ""; z-index: 9999999999999999999999999; padding-top: 0px; padding-bottom: 0px; border-right:1px solid #ccc !important;   }
.hov-bdr-2 p{ margin: 15px 15px !important; color: #636161;}
.hov-bdr-2 a{ margin-left: 15px;}
.hov-bdr-2:hover::before {
  position: absolute !important;
  top: -5px !important;
  left: 10px !important;
  content: "";
  z-index: -11;
  border-radius: 10px;
  background: #FFF0F3 !important;
  width: 91% !important;
  height: 34px !important;
}


.hov-bdr-4::after{ position: absolute; top: 0; left: 0; width: 100%; height: 105px; content: ""; z-index: 9999999999999999999999999; padding-top: 0px; padding-bottom: 0px; border-right:1px solid #ccc !important;   }
.hov-bdr-4 p{ margin: 15px 15px !important; color: #636161;}
.hov-bdr-4 a{ margin-left: 15px;}
.hov-bdr-4:hover::before {
  position: absolute !important;
  top: -5px !important;
  left: 10px !important;
  content: "";
  z-index: -11;
  border-radius: 10px;
  background: #FFF0F3 !important;
  border: 0px solid #ccc !important;
  width: 91% !important;
  height: 34px !important;
}


.dev-sec-ops-new{ position: relative; }
.dev-sec-ops-new h2.dv-sec{ margin-top:50px; position: relative;  background: linear-gradient( to right,#470A1F,#B21E4B,#E63F66, #470A1F); background-clip: text;  -webkit-background-clip: text;
  color: transparent;  -webkit-animation: 8s linear infinite animation-1w5ztda; animation: 8s linear infinite animation-1w5ztda;
  font-weight:600;  -webkit-background-size:200% auto;
  background-size:200% auto;
  
  font-size:72px;}
  .dev-sec-ops-new p.dv-sec{ font-size: 24px; margin-top:50px; font-weight: 500; position: relative; margin-bottom: 40px; }
@-webkit-keyframes animation-1w5ztda {
 to {
  -webkit-background-position:-200% center;
  background-position:-200% center
 }
}
@keyframes animation-1w5ztda {
 to {
  -webkit-background-position:-200% center;
  background-position:-200% center
 }
}
@keyframes rotate {
 100% {
  transform:rotate(1turn)
 }
}
.bg-color-sec h3{ font-size: 60px; color: #D42A5B; }
.bg-color-sec-1 h3{ font-size: 60px; color: #D42A5B;}
.bg-color-sec-2 h3{ font-size: 60px; color: #D42A5B;}
.bg-color-sec-3 h3{ font-size: 60px; color: #D42A5B;}



.bg-color-sec h6{ font-size: 24px; color: #000; }
.bg-color-sec-1 h6{ font-size: 24px; color: #000;}
.bg-color-sec-2 h6{ font-size: 24px; color: #000;}
.bg-color-sec-3 h6{ font-size: 24px; color: #000;}
.container-timel {
  position: relative;
  padding: 107px 10vw;
}
.img-icn{ margin-top: -5px; margin-right: 5px; width: 30px; height: 30px; }
.container-timel:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 0px;
  border-bottom: 4px solid #ccc;
}

.timeline {
  list-style: none;
  margin: 4rem 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timeline__item {
  flex: 1;
  position: relative;
  cursor: pointer;
}
.timeline__item:last-of-type {
  flex: 0 0 auto;
}
.bg-color-sec{ background: linear-gradient(to top right, #fef2f4 0%, #fde6e9 100%);  padding: 120px 60px; margin-top: 30px;}
.bg-color-sec-1{ background: linear-gradient(to top right, #fef2f4 0%, #fde6e9 100%);  padding: 120px 60px; margin-top: 200px;}
.bg-color-sec-2{ background: linear-gradient(to top right, #fef2f4 0%, #fde6e9 100%);  padding: 120px 60px; margin-top: 200px;}
.bg-color-sec-3{ background: linear-gradient(to top right, #fef2f4 0%, #fde6e9 100%);  padding: 120px 60px; margin-top: 200px;}
.bg-color-sec-4{ background: linear-gradient(to top right, #fef2f4 0%, #fde6e9 100%);  padding: 120px 60px; margin-top: 200px;}
.card-content ul li{ list-style-type: none; line-height: 50px;  }

.bullet {
  background: #000;
  width: 25px;
  height: 25px;
  border: 3px solid red;
  display: block;
  border-radius: 50%;
  position: relative;
  pointer-events: none;
}
.bullet:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 50%;
  transition: all 1s ease;
}
.timeline__item--active .bullet:after, .timeline__item:hover .bullet:after {
  background: #3fc1c9;
}

.line {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  height: 1px;
  background: #3fc1c9;
  width: 0;
  z-index: 999999999999999999999;
}
.timeline__item--active .line {
  animation: animate-path 1s;
}
.timeline__item:last-of-type .line {
  display: none;
}

.label {
  position: absolute;
  top: 100%;
  left: -91px;
  padding-top: 10px;
  display: block;
  width: 210px;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  opacity: 0.7;
  transition: all 1s ease;
  pointer-events: none;
}
.label h3{ color: #fff; }

b ul li{ font-weight: 400; }

.label-1 {
  position: absolute;
  top: -80px;
  left: -91px;
  padding-top: 10px;
  display: block;
  width: 210px;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  opacity: 0.7;
  transition: all 1s ease;
  pointer-events: none;
}
.label-1 h3{ color: #fff; }



.label-2 {
  position: absolute;
  top: -103px;
  left: -91px;
  padding-top: 10px;
  display: block;
  width: 210px;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  opacity: 0.7;
  transition: all 1s ease;
  pointer-events: none;
}


/*.hero__text h1 span{ color: #000;}*/
.rotate-text {
  background-image: linear-gradient(to right, #B21E4B, #E63F66, #470A1F);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-background-size: 200% auto;
  background-size: 200% auto;
  -webkit-animation: 4s linear infinite animation-1w5ztda;
  animation: 4s linear infinite ;
  
}
.label-2 h3{ color: #fff; }

.awardone{ position: relative; padding: 0px 0; background-color: transparant; }
.awardone .cmp-award{ position: relative;}
.awardone .cmp-award h5{ 
  color: #000;
  padding: 5px 0px 20px 0px;}
.awardone .cmp-award p{ color: #000; font-size: 18px;}
.awardone .cmp-award .cnt{     padding: 12px 20px 15px 0px; position: relative; }
.awardone .cmp-award .img-award{ position: relative; text-align: center;}
.awardone .cmp-award .img-award img{padding: 15px 0px 40px 0px;}
.awardone .cmp-award .img-award-1 img{padding: 15px 0px 40px 0px;}
.awardone .cmp-award .img-award-1{ position: relative; text-align: center;}
.awardone .cmp-award .img-award:after{ position: absolute; content: ""; left: -33px ; top: 0; border-right:2px solid #c6c6c6; height: 100%; }


.service-section{ margin-top: 200px; }
.service-section h2{ padding: 70px 0 50px 0;text-align: center; font-size: 48px;}
.service-section p{ padding: 0px 0 0px 0;text-align: center; }
.service-section .project{ padding: 45px 10px 64px 10px;
  position: relative;
  border-radius: 8px;
  margin: 19px 0 60px 0;
  height: 400px;
}
.service-section .project:hover{  background-color: transparent;  position: relative;}
.service-section .project:hover:after{ content:''; position:absolute; width:100%;   height:100%; border:1px solid #e3e0e0; border-radius:8px;  transition: 1s; top:0; left:0;  }
.service-section .project h5{ text-align: center;padding: 25px 0 10px 0;    color: #000;
  font-size: 20px; z-index: 333; }
.service-section .project p{ text-align: center;padding: 0;color: grey; z-index: 333;}


.service-section hr {
  width: 70%;
  text-align:center;
  border-width: 5px;
}

.label-3 {
  position: absolute;
  top: -178px;
  left: -91px;
  padding-top: 10px;
  display: block;
  width: 210px;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  opacity: 0.7;
  transition: all 1s ease;
  pointer-events: none;
}
.label-3 h3{ color: #fff; }
.timeline__item--active .label, .timeline__item:hover .label {
  opacity: 1;
}

.timeline__item--active .label-1, .timeline__item:hover .label-1 {
  opacity: 1;
}

.timeline__item--active .label-2, .timeline__item:hover .label-2 {
  opacity: 1;
}

.timeline__item--active .label-3, .timeline__item:hover .label-3 {
  opacity: 1;
}


@keyframes animate-path {
  from {
    width: 0%;
  }
  to {
    width: calc(100% - var(--item-size));
  }
}


.paralax-down-slide{ animation-direction: calc(125px top); animation-name:initial; line-clamp:100px; pointer-events: all; }

.excellence-section{ padding: 0 0 40px 0; }
.excellence-section h2 { 
  padding: 0px 0 50px 0;
  text-align: center;    
   font-size: 50px;
  font-weight: 500;
}
.excellence-section p{ padding: 0px 0 0px 0;text-align: center; }
.excellence-section .project{ padding: 30px 20px 30px 20px;
  position: relative;
  border-radius: 8px;
  margin: 25px 10px 20px 0;
  border: solid 1px #E7E7E7;
}
/*.excellence-section .project:hover{  background-color: #EBF1FF;  position: relative;}*/
.serexcellencevice-section .project:hover:after{ content:''; position:absolute; width:100%;   height:100%; border:1px solid #e3e0e0; border-radius:8px;  transition: 1s; top:0; left:0;  }
.excellence-section .project h5{ 
  text-align: left;
  padding: 10px 0 20px 0;
  color: #000;
  font-size: 20px; z-index: 333; }
.excellence-section .project p{ text-align: left;padding: 0;color: #000; z-index: 333; font-size: 14px;}

.img-industries{}
.img-industries svg{ 
  width: 16%;
  padding: 15px 0 0 0;
  z-index: 333; }
.ptnrs{  height: auto; width: 100%; }
.ptnrs h2{ padding: 25px 0 15px 0; }
.ptnrs img{ width: 100px; padding: 15px 0; }


.service-section h2 strong{ color: #F80A3A;
  font-weight: 900;}



.hov-bdr-5::after{ position: absolute; top: 0; left: 0; width: 100%; height: 230px; content: ""; z-index: 9999999999999999999999999; padding-top: 0px; padding-bottom: 0px; border-right:1px solid #ccc !important;   }
.hov-bdr-5 p{ margin: 15px 15px !important; color: #636161;}
.hov-bdr-5 a{ margin-left: 15px;}
.hov-bdr-5:hover::before {
  position: absolute !important;
  top: -5px !important;
  left: 10px !important;
  content: "";
  z-index: -11;
  border-radius: 10px;
  background: #FFF0F3 !important;
  border: 0px solid #ccc !important;
  width: 91% !important;
  height: 34px !important;
}

.hov-bdr-2:hover::after {
  position: absolute !important;
  top: -5px !important;
  left: 10px !important;
  content: "";
  z-index: -11;
  border-radius: 10px;
  background: #FFF0F3 !important;
  border: 0px solid #ccc !important;
  width: 91% !important;
  height: 34px !important;
}
.bxs{ height:120px; width: 90%; background-color: #ccc; margin-bottom: 20px; padding: 20px; }
.main-bx{ margin-right: 15px; padding: 20px; }
.main-bx h3{ font-size: 16px; font-weight: 500; margin-bottom: 20px; margin-top: -15px; }

.bg-img{ background-position: bottom; background-size: cover; background: linear-gradient(to top, #9ea3b9 0%, #f6d6bf 100%); position: relative; /*background-image: url(../img/snwnbbg.png);*/ opacity: 100%; z-index: 2;  width: 100%; height: 100%;}
.bg-img:after{/*background-image: url(../img/SNWN_hero.svg);*/
  background-repeat: no-repeat;
  background-position: center;
  z-index: -99999999999999999999999999999;
  position: absolute;
  width: 38%;
  height: 100%;
  top: -5px;
  right: 30px;
  content: "";
  background-size: 100%;
   }


   .ready-to-take{ background-position: bottom; margin: 60px 0; /*background-size: cover; background: linear-gradient(to top, #9ea3b9 0%, #f6d6bf 100%);*/ position: relative; /*background-image: url(../img/snwnbbg.png);*/ opacity: 100%; z-index: 2;  width: 100%; height: 100%;}
.ready-to-take:after{/*background-image: url(../img/SNWN_hero.svg);*/
  background-repeat: no-repeat;
  background-position: center;
  z-index: -99999999999999999999999999999;
  position: absolute;
  width: 38%;
  height: 100%;
  top: -5px;
  right: 30px;
  content: "";
  background-size: 100%;
  
   }
   .ready-to-take .hero-banner h1{ font-size: 45px; font-weight: bolder; }
   .ready-to-take .hero-banner h1.ttl-heading{position: relative;
    margin-bottom: 0;
    margin-top: 22px;}
   .ready-to-take .hero-banner h3{ font-size: 24px; font-weight: 400; margin-top: 25px; }
   .ready-to-take .hero-banner a{ font-size: 20px;  font-weight: 600; }
.hedng{ margin-left:15px; margin-bottom:15px; font-size:20px; color:#F80A3A !important;  }

.ruby-row a{background-color: transparent;
  color: #000; font-weight: 700; font-size: 15px; }
  .ruby-row a:focus{ color: #000; }
.benefits-all{ margin-top: 29px; }
.why-choose-us .box-services .im-why-choose{ margin-top: -10px;}
.hero__text h4 {
  color: #d7d5d5;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
}

.about-tab p{ padding: 20px 50px !important; }
ul.ruby-menu-mega-blog-nav li a{ padding: 10px 10px 10px 10px !important; }
ul.ruby-menu-mega-blog-nav li a.menu-fnt{ padding: 10px 10px 10px 25px !important;}

.explore-more-bts{color: #fff !important;
  font-weight: 600;
  display: block;
  position: relative;
  margin-top: 0px;
  margin-left: 9px;
  background-color: #B31D3F;
  width: 130px;
  padding: 8px 11px;
  border-radius: 31px;
  font-size: 12px;
  margin-bottom: 20px;
  }
  .explore-more-bts:hover i{  position: relative; margin-left: 10px; transition: 1s;  }
/* GENERAL TAB STYLES */
.explore-more-bts:hover{ background-color:#F80A3A ; }
.tab-group__title {
  text-align: center;
  margin: 0 0 4rem;
  color: #fff;
  mix-blend-mode: soft-light;
}
.icn-nav{
position: relative;
  left: 13px;
  top: 3px;
}
.platfoms{
width: 20%;
  float: right;
  position: relative;
  left: 67px;
  top: 28px;
}
ul.platfoms li img.icon-navigate{ width: 25px; margin-right: 8px; padding: 8px  0;  }
ul.platfoms li {
  
  color: #540113;
  font-weight: 600; }
  ul.platfoms li p{ color: #686868; letter-spacing: 0.5px; font-size: 11px; font-weight: 400; margin-right: 100px; margin-left: 10px; margin-bottom: 12px !important; }
ul.platfoms li h6{ margin-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 93px !important;
  font-size: 14px;
  color: #AC0829;
  line-height: 19px;
  font-weight: 600; }
.tab-group {
  padding: 2rem 0 0 0;
  overflow-x: hidden;
}
.excellence-section h2 strong{color:#F80A3A; font-weight: 900; }


.slick-slide {
  margin: 0px 20px;
  }
  .slick-slide img {
  width: 100%;
  }
  /*
  .slick-slider
  {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  } */
  .slick-list
  {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  }
  .slick-list:focus
  {
  outline: none;
  }
  .slick-list.dragging
  {
  cursor: pointer;
  cursor: hand;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  .slick-track
  {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
  display: table;
  content: '';
  }
  .slick-track:after
  {
  clear: both;
  }
  .slick-loading .slick-track
  {
  visibility: hidden;
  }
  .slick-slide
  {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
  float: right;
  }
  .slick-slide img
  {
  display: block;
  }
  .slick-slide.slick-loading img
  {
  display: none;
  }
  .slick-slide.dragging img
  {
  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
  display: block;
  }
  .slick-loading .slick-slide
  {
  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
  display: block;
  height: auto;
  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
  display: none;
  }

.award-im img{ width: 75%; margin: 0 auto;
  display: block; margin-top: 20px; }

.sub-hening{ font-size: 22px; margin-left: 15px; background-color: transparent; }

.hb-tabs__nav {
  display: flex;
  justify-content: space-between;
  gap: 0;
  margin: 0;
  padding: 0;
}

.img-ai img{ width: 80%; }

.hb-tabs__nav-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  text-align: center;
}
.uboutone {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
}
.uboutone h2 {
  padding: 4px 1px 20px 0;
  font-size: 70px;
  color: #5462a2;

}

.hb-tabs__nav-list-link {
  color: var(--tab-panel-c);
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
}

.hb-tabs__nav [aria-selected="true"] {
  position: relative;
}

.hb-tabs__nav [aria-selected="true"] {
  color: #fff !important;
  font-weight: 700;
  background: linear-gradient(to left,#23428b 0,#1d094c 100%);
}

.hb-tabs__panel {
  padding: 2rem 3rem;
  display: block;
}

.hb-tabs__panel[aria-hidden="true"] {
  display: none;
}

.hb-tabs__panel p {
  color: var(--tab-panel-c);
}

/* TAB GROUP 0 */

.tab-group--0 .tab-group__title {
  color: #ddd;
  mix-blend-mode: multiply;
}

.tab-group--0 .hb-tabs {
  border: 1px solid #e3e2e2;
  border-radius: 0px 0px 10px 10px;
}

.tab-group--0 .hb-tabs__nav {
  gap: 0;
  background-color: rgb(216,206,255,0.6);
  position: relative;
}

.tab-group--0 .hb-tabs__nav-list-item {
  flex-grow: 1;
  position: relative;
}

.tab-group--0 .hb-tabs__nav-list-item::before {
  content: "";
  width: 100%;
  height: 0px;
  postion: absolute;
  top: 0;
  left: 0;

  transform: scaleY(0);
  background-color: #555;
  z-index: 10;
  display: block;
}

.tab-group--0 .hb-tabs__nav-list-item:has([aria-selected="true"])::before {
  transform: scaleY(0);
  transition: transform 0.65s ease;
}

.tab-group--0 .hb-tabs__nav {
}

.reviews-new h3 {
    font-size: 70px;
    margin-top: 0;
    color: #6a6390;
    opacity: 1;
    text-align: left;
    margin: 94px 0 12px 0;
    font-size: 40px;
  }
  .hero-section{ position: relative; }
  .hero-section:after{ position: absolute; content: ""; top: 0 ; left: 0; width: 100%; height: 100%;  z-index: 1;
  } 
  .hero-section video{z-index: 1;
    position: absolute;
    height:100%;
    top: 0px;}
  .reviews-new h4{ color: #fff; padding: 0px 0 20px 0; }
  .reviews-new p {color: #fff; padding: 0 0 101px 0; position: relative;}
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {padding:  15px 20px !important;}
  .reviews-new .img-overview img {width: 59%; border-radius: 25px; margin-top: 100px !important; margin-bottom: 100px !important; margin: 0 auto; margin-top: 0px; margin-bottom: 0px; display: block;}
@keyframes loader{ 0%{  -webkit-transform: rotate(0);transform: rotate(0);border: 4px solid #f44336;border-left-color: transparent; }
 50%{  -webkit-transform: rotate(180deg);transform: rotate(180deg);border: 4px solid #673ab7;border-left-color: transparent; }
 100%{  -webkit-transform: rotate(360deg);transform: rotate(360deg);border: 4px solid #f44336;border-left-color: transparent; }}@-webkit-keyframes loader{ 0%{  -webkit-transform: rotate(0);border: 4px solid #f44336;border-left-color: transparent; }
 50%{  -webkit-transform: rotate(180deg);border: 4px solid #673ab7;border-left-color: transparent; }
 100%{  -webkit-transform: rotate(360deg);border: 4px solid #f44336;border-left-color: transparent; }}.header-section{ position: absolute;left: 0;top: 0;width: 100%;z-index: 9;}
.bttn-read-m{ color: #fff!important;font-weight: 900;display: block;position: relative;margin-top: 25px;margin-left: 9px;background-color: #540113;width: 250px;padding: 15px 32px;border-radius: 31px;}
.bttn-read-m-retake {
  text-align: center;
  color: #fff !important;
  font-weight: 800;
  display: block;
  position: relative;
  margin-top: 25px;
  margin-left: 9px;
  background-color: #540113;
  width: 315px;
  padding: 15px 32px;
  border-radius: 31px;
}
.bttn-read-m i{ position: absolute;left: 205px;top: 0;background-color: #fff;color: #000;padding: 20px;border-radius: 35px;}
.arrw-rgt{ margin-left: 0;}
.bttn-read-m:hover .arrw-rgt{ margin-left: 10px;transition: 1s;}
.header-section.header-normal{ position: relative;background: #120851;}
.header-section.header-normal .header__logo{ padding-bottom: 30px;}
.header-section.header-normal .header__menu{ padding-bottom: 30px;}
.header__info{ padding: 17px 0;border-bottom: transparent;background-color: #ccedff;}
.review{ position: relative;}
.seo-feature{margin: 70px 0;}
.seo-feature h3{ text-align: left; padding: 0 0 20px 0; }
.seo-feature h4{ text-align: left; padding: 0 0 20px 0; }
.seo-feature h6{ text-align: left; padding: 0 0 20px 0; }
.review .round{ background-color: #ccedff;padding: 15px 15px;border-radius: 62px;}
.review .round h2{ text-align: center;}
.review .round p{ text-align: center;font-weight: 400;font-size: 18px;margin-bottom: 0;}
.domain{ padding: 100px 0 74px 0;background: linear-gradient(to bottom,#fff 0,#ccedff 100%);background-repeat: no-repeat;}
.domain input{ width: 100%;padding: 15px;border: 1px solid #ececec;background-color: #fff;border-radius: 0;}
.domain .input-btns{ padding: 16px 58px;background-color: #55bdf7;color: #fff!important;top: 17px;position: relative;}
.box-reword{ background: #fff;box-shadow: 0 6px 23px rgba(0,0,0,.15);border-radius: 20px;padding: 18px 0;margin-top: 40px;}
.domain .input-btns-1:hover{ background-color: #481fff;transition: 1s;}
.clnt-info .heading-point h2{ text-align: center;font-size: 36px;margin: 80px 0;color: #595959;position: relative;}
.clnt-info .heading-point h2 span{ color: #830d25;font-weight: 900;}
.clnt-info .heading-point h2:after{ content: "";background-color: #830d25;left: 48%;position: absolute;top: 97px;width: 50px;height: 2px;}
.header__info-left ul li{ font-size: 24px;color: #1d2a3b;list-style: none;display: inline-block;margin-right: 25px;font-weight: 900;}
.clnt-info .box-clnt{ background: #f3f6f9;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;height: 100%;margin-bottom: 40px;}
.slick-slide{ margin: 0 20px;}
.slick-slide img{ width: 50%;margin: 0 auto!important;margin-top: 15px!important;margin-bottom: 15px!important;}
.slick-slider{ position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;margin-top: 0;border-radius: 0 20px 20px 0;}
.border{ border-radius: 15px;box-shadow: 0 4px 4px #eee;}
.slick-list{ position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{ outline: 0;}
.slick-list.dragging{ cursor: pointer;cursor: hand;}
.slick-slider .slick-list,.slick-slider .slick-track{ -webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);-o-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
.partners{ margin: -35px 0 0;z-index: 999999999999999999999999999999999999999999999999999999999999999999999;position: relative;}
.partners img:hover,.partners-1 img:hover{ -webkit-filter: none;filter: none;filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');-webkit-filter: grayscale(0);filter: grayscale(0);opacity: 1;}
.slick-track{ position: relative;top: 0;left: 0;display: block;}
.slick-track:after,.slick-track:before{ display: table;content: "";}
.slick-track:after{ clear: both;}
.slick-loading .slick-track{ visibility: hidden;}
.slick-slide{ display: none;float: left;height: 100%;min-height: 1px;}
[dir=rtl] .slick-slide{ float: right;}
.slick-slide img{ display: block;}
.slick-slide.slick-loading img{ display: none;}
.slick-slide.dragging img{ pointer-events: none;}
.slick-initialized .slick-slide{ display: block;}
.slick-loading .slick-slide{ visibility: hidden;}
.slick-vertical .slick-slide{ display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden{ display: none;}
.hero__text .service-cont{ margin-top: 10px;}
.hero__text .automate{ color: #fff;font-size: 18px;margin-top: 8px;}
.hero__text .bttn-read-m-1{ color: #000!important;font-weight: 900;display: block;position: relative;margin-top: 25px;margin-left: 9px;background-color: #fff;padding: 15px 32px;border-radius: 31px;}
.bttn-read-m-1{ color: #fff!important;font-weight: 900!important;display: block;position: relative;margin-top: 25px;background-color: #434c99;padding: 12px 15px;border-radius: 31px;text-align: center;}
.inner-padding h3{ margin-bottom: 20px;font-size: 20px;}
.overview{ position: relative;/*background: linear-gradient(to left,#23428b 0,#1d094c 100%);*/}
.overview h3{ font-size: 70px;margin-top: 0;color: #6a6390;opacity: 1;text-align: left;margin: 58px 0 21px 0;}
.overview p{ color: #000;padding: 0 0 101px 0;position: relative;}
.overview .img-overview img{ width: 59%;border-radius: 8px;margin-top: 58px!important;margin-bottom: 58px!important;margin: 0 auto;display: block;}

.overview-1{ position: relative;/*background: linear-gradient(to left,#23428b 0,#1d094c 100%);*/}
.overview-1 h3{ font-size: 36px;margin-top: 0;color: #000;opacity: 1;text-align: left;margin: 0px 0 21px 0;}
.overview-1 p{ color: #000;padding: 0 0 101px 0;position: relative;}
.overview-1 .img-overview img{ width: 59%;border-radius: 8px;margin-top: 0px!important;margin-bottom: 58px!important;margin: 0 auto;display: block;}

.overviewthree {
  background-color: #fff;
  padding: 10px 0;
}
.overviewthree .assistance {
  margin-top: 40px;
  padding: 0px 0 50px 0px;
  text-align: justify;
}
.overviewthree .bx-support img {
  width: 70%;
  margin-top: -50px;
}

.overviewthree .assistance h2 {
  padding: 20px 0;
}

.inner-padding-1{ padding: 0 !important; }


.how-do-we-help{ position: relative;background: linear-gradient(to left,#23428b 0,#1d094c 100%);padding: 94px 0;}
.how-do-we-help h3{ font-size: 70px;margin-top: 0;color: #6a6390;opacity: 1;text-align: left;margin: 5px 0 21px 0;font-size: 40px;}
.how-do-we-help p{ color: #fff;padding: 0;position: relative;}
.how-do-we-help .img-overview img{ width: 59%;border-radius: 25px;margin-top: 50px!important;margin-bottom: 0!important;margin: 0 auto;display: block;}
.all-features{ margin-top: 50px;}
.all-features h3{ margin: 0 0 25px 0;}
.all-features p{ margin: 0 0 50px 0;}
.snwn-benefits{ padding: 0 0 26px 0;background-color: transparent;}
.snwn-benefits h2{ padding: 50px 0 34px 0;font-size: 60px;text-align: left;color: #c2c2c2;}
.snwn-benefits p{ padding: 0;font-size: 30px;text-align: center;color: #1d1054;font-weight: 700;}
.snwn-benefits .project{ height: 85%;padding: 48px 20px;border-radius: 8px;margin: 19px 0 0 0;background: linear-gradient(to left,#394d93 0,#362668 100%);}
.snwn-benefits .project:hover{ box-shadow: 0 8px 5px 0 rgba(0,0,0,.08); transition: 1s;}
.snwn-benefits .project h5{ text-align: center;padding: 25px 0 10px 0;color: #fff;font-size: 24px;}
.snwn-benefits .project p{ padding: 0 0 60px 0;text-align: center;color: #fff;font-size: 16px;font-weight: 400;}
.snwn-benefits .project .img img{ margin: 0 auto;display: block;width: 100px;}


.snwn-benefits-9{ padding: 0 0 26px 0; background: linear-gradient(to left,#394d93 0,#362668 100%);}
.snwn-benefits-9 h2{ padding: 50px 0 0px 0;font-size: 36px;text-align: center;color: #fff;}
.snwn-benefits-9 .project p {
  padding: 0 0 60px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.snwn-benefits-9 .project{ height: 85%;padding: 48px 20px;border-radius: 8px;margin: 19px 0 0 0; background-color: #5462a2;}
.snwn-benefits-9 .project:hover{ box-shadow: 0 8px 5px 0 rgba(0,0,0,.08); transition: 1s;}
.snwn-benefits-9 .project h5{ text-align: center;padding: 25px 0 10px 0;color: #fff;font-size: 24px;}
.snwn-benefits-9 h6{ text-align: center;padding: 25px 0 10px 0;color: #fff;font-size: 18px;}
.snwn-benefits-9 .project .img img{ margin: 0 auto;display: block;width: 100px;}



.clr-10:hover {
  background-color: #000;
  transition: 1s;
}
.snwn-benefits-4{ padding: 0 0 26px 0;background-color: transparent;}
.snwn-benefits-4 h2{ padding: 50px 0 34px 0;font-size: 60px;text-align: left;color: #c2c2c2;}
.snwn-benefits-4 p{ padding: 0;font-size: 30px;text-align: center;color: #1d1054;font-weight: 700;}
.snwn-benefits-4 .project{ height: 85%;padding: 48px 20px;border-radius: 66px;margin: 19px 0 0 0;background: linear-gradient(to left,#394d93 0,#362668 100%);}
.snwn-benefits-4 .project:hover{ box-shadow: 0 8px 5px 0 rgba(0,0,0,.08); transition: 1s;}
.snwn-benefits-4 .project h5{ text-align: center;padding: 25px 0 10px 0;color: #fff;font-size: 24px;}
.snwn-benefits-4 .project p{ padding: 0 0 60px 0;text-align: center;color: #fff;font-size: 16px;font-weight: 400;}
.snwn-benefits-4 .project .img img{ margin: 0 auto;display: block;width: 100px;}


.new-top-mg{ margin-top: 40px; }

.compare-table{ padding: 0 0 26px 0;background-color: transparent;}
.compare-table table tr th{ width:33.33%; text-align: center;}
.compare-table table tr th p{ text-align: center; font-size: 24px; font-weight: 400; vertical-align: middle;}
.compare-table h3{ text-align: center; margin-bottom: 40px; }
.compare-table h2{ padding: 50px 0 34px 0;font-size: 60px;text-align: left;color: #c2c2c2;}
.compare-table p{ padding: 0;text-align: left;color: #8e8e8e;}
.compare-table .project{ height: 85%;padding: 48px 20px;border-radius: 8px;margin: 19px 0 0 0;background: linear-gradient(to left,#394d93 0,#362668 100%);}
.compare-table .project:hover{ box-shadow: 0 8px 5px 0 rgba(0,0,0,.08); transition: 1s;}
.compare-table .project h5{ text-align: center;padding: 25px 0 10px 0;color: #fff;font-size: 24px;}
.compare-table .project p{ padding: 0 0 60px 0;text-align: center;color: #fff;font-size: 16px;font-weight: 400;}
.compare-table .project .img img{ margin: 0 auto;display: block;width: 100px;}


.snwn-benefits-1{ padding: 0 0 26px 0;background-color: transparent; background: linear-gradient(to left,#23428b 0,#1d094c 100%);}
.snwn-benefits-1 h2{ padding: 50px 0 34px 0;font-size: 60px;text-align: left;color: #4b3e75;}
.snwn-benefits-1 p{ padding: 0;font-size: 30px;text-align: center;color: #fff;font-weight: 700;}
.snwn-benefits-1 .project{ height: 85%;padding: 48px 20px;border-radius: 8px;margin: 19px 0 0 0;background: #474d93;}
.snwn-benefits-1 .project:hover{ box-shadow: 0 8px 5px 0 rgba(0,0,0,.08); transition: 1s;}
.snwn-benefits-1 .project h5{ text-align: center;padding: 25px 0 10px 0;color: #fff;font-size: 24px;}
.snwn-benefits-1 .project p{ padding: 0 0 60px 0;text-align: center;color: #fff;font-size: 16px;font-weight: 400;}
.snwn-benefits-1 .project .img img{ margin: 0 auto;display: block;width: 100px;}
.managment{ padding: 60px 0 60px 0;background-color: #f3f3f3;}
.managment h2{ padding: 50px 0 34px 0;font-size: 56px;text-align: left;color: #c2c2c2;}
.managment p{ padding: 0;font-size: 30px;text-align: center;color: #1d1054;font-weight: 700;}
.managment .project{ box-shadow: 0 8px 5px 0 rgba(0,0,0,.08);height: 85%;padding: 48px 20px;border-radius: 30px;margin: 19px 0 0 0;background: linear-gradient(to left,#394d93 0,#362668 100%);}
.managment .project h5{ text-align: center;padding: 25px 0 10px 0;color: #fff;font-size: 24px;}
.managment .project p{ padding: 0 0 30px 0;text-align: center;color: #fff;font-size: 16px;font-weight: 400;}
.managment .project .img img{ margin: 0 auto;display: block;width: 100px;}
.devops-solution-1{ margin: 60px 0 0 0;padding: 60px 0 60px 0!important;background-color: #f3f3f3;}
.devops-solution-1 h3{ text-align: center;margin: 30px 0;}
.devops-solution-1 ul{ padding: 0 40px;color: #fff;line-height: 30px;}
.devops-solution-2{ margin: 0;padding: 35px 0 60px 0!important;background-color: #f3f3f3;}
.devops-solution-2 h3{ text-align: center;margin: 0 0 36px auto;}
.devops-solution-2 ul{ padding: 0 40px;color: #fff;line-height: 30px;}
.devops-solution-2 .freatures-project p{ text-align: justify!important;padding: 0 30px;}
.scale-seamlessly{ position: relative;padding: 50px 0;background: linear-gradient(to left,#23428b 0,#1d094c 100%); max-height: 800px;
  min-height: 606px;}
.scale-seamlessly h2{ text-align: center;color: #fff; font-size: 48px; margin-bottom: 29px;}
.scale-seamlessly h3{ color: #6a6390;font-size: 60px;}
.scale-seamlessly h5{ color:#fff; text-align:left; font-size:30px;  }
.inner-padding img{ margin-top:-15px;  }
.cnt-scale{ color: #fff;padding: 19px 0;font-weight: 600;}
.scale-seamlessly .color-tab{ color: #fff;background-color: rgb(34,58,130,0);font-weight: 600;}


.scale-seamlessly-1{ position: relative;padding: 50px 0;background: linear-gradient(to left,#23428b 0,#1d094c 100%); }
.scale-seamlessly-1 h2{ text-align: center;color: #fff; font-size: 48px; margin-bottom: 29px;}
.scale-seamlessly-1 h3{ color: #6a6390;font-size: 60px;}
.scale-seamlessly-1 h5{ color:#fff; text-align:left; font-size:30px;  }
.inner-padding img{ margin-top:-15px;  }
.cnt-scale{ color: #fff;padding: 19px 0;font-weight: 600;}
.scale-seamlessly-1 .color-tab{ color: #fff;background-color: rgb(34,58,130,0);font-weight: 600;}




.benefits-all-1{ text-align: center;}
.benefits-all-1 h3{ text-align: center!important;margin: 15px 0!important;}
.benefits-all-1 p{ text-align: center!important;margin: 0 0!important;}
.benefits-all-1 a{ text-align: center;margin-top: 30px!important;padding: 10px 0;background: linear-gradient(to left,#0b84c6 0,#221c81 100%);color: #fff;border-radius: 10px;width: 40%;margin: 0 auto;display: block;}
.border-right{ border-right: 3px solid #fff!important;}
.table-striped tbody tr:nth-of-type(2n+1){ background-color: #e9edff;}
.choose-your-plan{ margin: 50px 0;}
.clnt-info .box-clnt h3{ text-align: center;padding: 27px 0 25px 0;}
.clnt-info .box-clnt p{ padding: 0 30px;margin-bottom: 40px;text-align: center;}
.clnt-info .box-clnt a{ text-align: center;display: block;background-color: #830d25;color: #fff;margin-bottom: 40px!important;padding: 15px 10px 15px 10px;width: 60%;margin: 0 auto;}
.header__info-left ul li span{ color: #7355f7;font-weight: 900;}
.header-section .header__info-left ul li span{ color: #7355f7;}
.icn-it-service{ display: block;margin: 0 auto;width: 70px;padding: 30px 0 0 0;}
.packages{ padding: 40px 0;background: linear-gradient(to bottom,#ccedff 0,#fff 100%);background-repeat: no-repeat;}
.packages h2{ text-align: center;}
.header__info-left ul li:last-child{ margin-right: 0;}
.introduction{ text-align: center;margin: 0 0 50px 0;}
.introduction h2{ position: relative;font-size: 36px;text-align: center;color: #595959;margin: 58px 0 60px 0;}
.introduction h2:after{ content: "";background-color: #830d25;left: 48%;position: absolute;top: 102px;width: 50px;height: 2px;}
.introduction h2 span{ color: #830d25;font-weight: 900;}
.hero__slider{ position: relative;}
.hero__slider:after{ position: absolute;content: "";padding: 40px 0;top: 0;left: 0;z-index: -2;height: 100%;width: 100%;opacity: .4;}
.header__info-right{ text-align: right;}
.menu-section-right{ background-color: #000;box-shadow: -3px 1px 10px #9d9d9d;}
.menu-section-right ul{ padding: 20px 0;background-color: #0b3155;}
.menu-section-right ul li{ line-height: 40px;background-color: #0b3155;color: #fff;list-style-type: none;text-align: left;padding: 12px 0 12px 56px;}
.menu-section-right ul li:hover{ background-color: #005eb8;}
.menu-section-right ul li:hover a{ color: #fff;padding: 20px 0;text-decoration: underline;}
.menu-section-right ul li a{ color: #fff;font-weight: 700;}
.point-click{ padding: 35px 40px 0 40px;background-color: #f2f1f1;height: 91%;box-shadow: 10px 0 19px -8px #9d9d9d;margin-top: 29px;}
h1.ttl-heading{ position: relative;margin-bottom: 0; margin-top: 150px;}
.point-click h3{ position: relative;}
.point-click h3:after{ content: "";background-color: #830d25;left: 0;position: absolute;top: 46px;width: 50px;height: 2px;}
.hosting-detail img{ width: 60px;}
.header__info-left ul li span{ height: 30px;width: 30px;background: rgba(255,255,255,.1);border-radius: 50%;line-height: 30px;text-align: center;display: inline-block;margin-right: 22px;}
.web-hosting-support{ position: relative;background: linear-gradient(to left,#23428b 0,#1d094c 100%);padding: 0 0 50px 0;}
.web-hosting-support h3{ font-size: 70px;margin-top: 0;color: #6a6390;opacity: 1;text-align: left;margin: 60px 0 21px 0;font-size: 40px;}
.web-hosting-support p{ color: #fff;padding: 0;position: relative;text-align: justify;}
.web-hosting-support .img-overview img{ width: 59%;border-radius: 25px;margin-top: 100px!important;margin-bottom: 100px!important;margin: 0 auto;margin-top: 0;margin-bottom: 0;display: block;}
.how-it-works{ position: relative;padding: 50px 0;}
.how-it-works h3{ font-size: 30px;text-align: center;}
.how-it-works p{ font-size: 16px;text-align: center;margin: 25px 0;}
.how-it-works img{ margin: 0 auto;display: block;}
.hero__text h4{ color: #000;}
.customer-logos{ padding: 25px 0;}
.customer-logos-1{ padding: 42px 0!important;}
.customer-logos .slide img{ padding: 0 0;}
.global-enterprises h2{ text-align: center;font-size: 36px;margin-top: 0;position: relative;padding: 0 0 78px 0;}
.global-enterprises h2:after{ content: "";background-color: #830d25;left: 48%;position: absolute;top: 78px;width: 50px;height: 2px;}
.global-enterprises h2 span{ color: #830d25;font-weight: 900;}
.why-choose-us-1 .box-services{ padding: 30px!important;border-radius: 15px!important;background: rgba(166,162,213,.2)!important;border-radius: 16px!important;margin-top: 17px!important;box-shadow: 0 4px 30px rgba(0,0,0,.1)!important;backdrop-filter: blur(5px)!important;-webkit-backdrop-filter: blur(5px)!important;}
.why-choose-us-1 .box-services img{ margin: 0 0 15px 0;width: 50px;}
.why-choose-us-1 .box-services p{ text-align: left;}
.technologies h2{ text-align: center;font-size: 48px;margin-top: 0;position: relative;color: #0e2b5c;padding: 20px 20px 12px 20px;font-weight: 600;}
.technologies h2 span{ color: #830d25;font-weight: 900;}
.j-tab-nav{ text-align: center;border-bottom: 1px solid #dbdada;padding: 0 0 21px 0;}
.j-tab-nav a{ color: #828282;font-weight: 400;position: relative;border: 0 solid #ccc;padding: 0;border-radius: 5px;font-size: 18px;}
.technologies-1 {
  background-color: #ebf1ff;
  border-radius: 8px;
  margin: 60px 0 14px 0;
  padding: 40px 0;
}
.technologies p{ text-align: center; margin: 15px 0 60px 0; font-size: 20px; }
.technologies p a{ color: #000; }
.technologies p a:hover{ color: #999; }
.story-1{ margin-top: 40px;padding: 0 0 30px 0;}
.j-tab-nav a:hover{ color: #fff;background-color: #126bfb;transition: 1s;border: 0 solid #fff;}
.header__info-right ul li{ list-style: none;display: inline-block;margin-right: 30px;}
.header__info-right ul li:last-child{ margin-right: 0;}
.header__info-right ul li a{ font-size: 18px;color: #1d2a3b;display: block;font-weight: 600;}
.why-choose{ background-color: #f0f9ff;padding: 0 0 80px 0;}
.why-choose h2{ text-align: center;padding: 100px 0 70px 0;position: relative;}
.why-choose h2:after{ content: "";background-color: #830d25;left: 48%;position: absolute;top: 182px;width: 50px;height: 2px;}
.why-choose ul{ margin-top: 40px;}
.why-choose ul li{ line-height: 40px;padding: 0 20px 0 0;}
.why-choose h2 span{ color: #830d25;font-weight: 900;}
.success-story{ background-color: #153888;position: relative;}
.success-story h2 span{ color: #fff;font-weight: 900;}
.success-story .story-1 p{ color: #fff;position: relative;}
.global-enterprises .slick-slide img{ width: 50%;}
.success-story{ padding: 0 0 50px 0;}
.success-story h2{ text-align: center;padding: 70px 0 70px 0;position: relative;color: #fff;}
.success-story h2:after{ content: "";background-color: #fff;left: 48%;position: absolute;top: 145px;width: 50px;height: 2px;}
.bg-head{ background-color: transparent;}
.solutions{ background-repeat: no-repeat;background-size: cover;background-image: url(../img/our-company.png); background-color: #005EB8; background-position: left;padding: 0 0 101px 0;position: relative;}
.solutions p{ color: #fff;text-align: left;}
.solutions h6{ color: #fff;text-align: left;}
.solutions h3{ color: #fff;text-align: left;}
.img-solutions img{ position: relative;top: 51px; border-radius: 8px;}
.how-we-can{position: relative;
  top: 10px;
  background-color: #fff;
  padding: 30px;
  width: 85%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  height: 104px;}
.how-we-can h3{ font-size: 21px;color: #000;text-align: center;font-weight: 400;}
.how-we-can h6{ font-size: 17px;margin-bottom: 5px;color: #005EB8;text-align: center;font-weight: 400;}
.sub-solution{ padding: 100px 0 0 0;text-align: center;}
.support-section h2{ padding: 70px 0 0px 0;text-align: center; font-size: 48px;}
.support-section p{ padding: 0px 0 0px 0;text-align: center; }
.support-section .project{ padding: 64px 30px 64px 30px; position: relative; border-radius: 8px;margin: 19px 0 60px 0;background-color: #f7f7f7;}
.support-section .project:hover{  background-color: #EBF1FF;  position: relative;}
.support-section .project:hover:after{ content:''; position:absolute; width:100%;   height:100%; border:1px solid #e3e0e0; border-radius:8px;  transition: 1s; top:0; left:0;  }
.support-section .project h5{ text-align: center;padding: 25px 0 10px 0;color: #0e2b5c; z-index: 333;}
.support-section .project p{ text-align: center;padding: 0;color: grey; z-index: 333;}
.devops-solution{ padding: 0 0 60px 0;}
.devops-solution h2{ padding: 58px 0 34px 0;font-size: 56px;text-align: center;}
.devops-solution p{ text-align: center;font-size: 20px;}
.devops-solution .project{ position: relative; box-shadow: 0 8px 5px 0 rgba(0,0,0,.08);height: 91%;padding: 48px 20px;border-radius: 8px;margin: 19px 0 0 0;background: linear-gradient(to left,#394d93 0,#362668 100%);}
.devops-solution .project:hover::after {content: ''; position: absolute; width: 100%; height: 100%; border: 1px solid #ccc; border-radius: 8px; transition: 1s; top: 0; left: 0;}
.devops-solution .project:hover{transition: 1s;}
.devops-solution .project h5{ text-align: center;padding: 25px 0 10px 0;color: #fff;}
.devops-solution .project p{ text-align: center;font-size: 14px;padding: 0;color: #fff;text-align: center;}
.devops-solution .project .devops-solution .project a{ color: #fff!important;}
.devops-solution .project .img img{ margin: 0 auto;display: block;width: 70px;}
.benefits-all h3{ text-align: left;}
.benefits-all ul{ text-align: left;margin-top: 15px;padding: 0;}
.benefits-all ul li{ line-height: 30px;list-style-type: disc;margin-left: 15px;}
.benefits-all p{ font-size: 16px;text-align: left;}
.box-services .img-1{ display: block;}
.box-services .img-2{ display: none!important;}
.box-services:hover .img-1{ display: none;}
.box-services:hover .img-2{ display: block!important;}
.our-devOps-solutions{ padding: 0 0 60px 0;}
.our-devOps-solutions h2{ padding: 70px 0 34px 0;font-size: 56px;text-align: center;}
.our-devOps-solutions p{ text-align: center;font-size: 20px;}
.our-devOps-solutions .project{ position: relative; box-shadow: 0 8px 5px 0 rgba(0,0,0,.08);height: 92%;padding: 48px 20px;border-radius: 8px;margin: 19px 0 -45px 0;background-color: rgb(34,58,130,.6);}
.our-devOps-solutions .project:hover::after {content: ''; position: absolute; width: 100%; height: 100%; border: 1px solid #ccc; border-radius: 8px; transition: 1s; top: 0; left: 0;}
.our-devOps-solutions .project:hover{transition: 1s;}
.our-devOps-solutions .project h5{ text-align: center;padding: 25px 0 10px 0;color: #fff;}
.our-devOps-solutions .project p{ text-align: center;font-size: 14px;padding: 0;color: #fff;text-align: center;}


.make-difference{ padding: 0 0 60px 0; background-color: #092D4C; }
.make-difference h2{ padding: 70px 0 34px 0;font-size: 56px;text-align: center; color: #fff;}
.make-difference p{ text-align: center;font-size: 20px; color: #fff;}
.make-difference .project{ position: relative; box-shadow: 0 8px 5px 0 rgba(0,0,0,.08);height: 92%;padding: 48px 20px;border-radius: 8px;margin: 19px 0 -45px 0;background-color:rgba(163, 177, 219, 0.6);}
.make-difference .project:hover::after {content: ''; position: absolute; width: 100%; height: 100%; border: 1px solid #ccc; border-radius: 8px; transition: 1s; top: 0; left: 0;}
.make-difference .project:hover{transition: 1s;}
.make-difference .project h5{ text-align: center;padding: 25px 0 10px 0;color: #fff;}
.make-difference .project p{ text-align: center;font-size: 14px;padding: 0;color: #fff;text-align: center;}
.make-difference .project .img img{ margin: 0 auto;display: block;width: 70px;}
.devops-solution .project .our-devOps-solutions .project a{ color: #fff!important;}
.our-devOps-solutions .project .img img{ margin: 0 auto;display: block;width: 70px;}
.approach{ background: linear-gradient(to left,#23428b 0,#1d094c 100%);padding: 58px 0;}
.approach p{ color: #fff;margin-top: 0;padding: 0 0;}
.approach .box-services{ padding: 20px;border-radius: 8px;background: #7783b9;margin-top: 0;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);box-shadow: inset 2px 0 5px;}
.color-tab{ color: #fff;background-color: rgb(34,58,130,.6);}
.bg-clr-section{ background-color: #5462a2;border-radius: 8px;}
.bg-clr-section img{ border-radius: 15px 0 0 15px;}
.inner-padding{ padding: 25px;}
.padding-0{ padding: 0;}
.devops-services{ background: linear-gradient(to left,#23428b 0,#1d094c 100%);padding: 58px 0;}
.devops-services h3{ color: #fff;}
.devops-services p{ color: #fff;}
.devops-services-1{ background: #ebf1ff;padding: 58px 0;}
.devops-services-1 h3{ color: #000;}
.devops-services-1 p{ color: #000;}
.devops-services-1 .inner-padding h3{ color: #fff;}
.devops-services-1 .inner-padding p{ color: #fff;}
.approach .box-services img{ margin: 0 auto;display: block;}
.approach .box-services p{ margin-top: 0;padding: 0;text-align: center;font-weight: 600;color: #fff;font-size: 24px;}
.approach h3{ font-size: 70px;margin-top: 0;color: #fff;opacity: 1;text-align: left;margin: 99px 0 21px 0;font-size: 48px;}
.clr-3{ text-align: center;color: #fff;display: block;font-weight: 700;background-color: #7279b8;padding: 12px 10px;width: 200px;margin-top: 0;margin-top: 0;margin-top: 50px;border-radius: 45px;}
.approach h2{ font-size: 70px;margin-top: 0;color: #fff;text-align: left;margin: 5px 0 5px 0;font-size: 48px;}
.approach-1{ background: #000;padding: 58px 0;}
.approach-1 p{ color: #fff;margin-top: 0;padding: 0 0;}
.approach-1 .box-services{ padding: 20px;border-radius: 8px;background: #272727;margin-top: 0;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);box-shadow: inset 2px 0 5px;}
.approach-1 .box-services img{ margin: 0 auto;display: block;}
.approach-1 .box-services p{ margin-top: 0;padding: 0;text-align: center;font-weight: 600;color: #fff;font-size: 24px;}
.approach-1 a:hover i{ margin-left: 8px; transition: 1s; }
.approach-1 a i{ margin-left: 2px; transition: 1s; }
.approach-1 h3{ font-size: 70px;margin-top: 0;color: #fff;opacity: 1;text-align: left;margin: 67px 0 21px 0;font-size: 48px;}
.approach-1 h2{ font-size: 70px;margin-top: 0;color: #fff;text-align: left;margin: 5px 0 5px 0;font-size: 48px;}

.clr-16{ text-align: center;color: #fff;display: block;font-weight: 700;background-color:#272727;padding: 12px 10px;width: 200px;margin-top: 0;margin-top: 0;margin-top: 50px;border-radius: 45px;}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{ border-color: #e9ecef #e9ecef #dee2e6;color: #000;}
ul.nav .nav-tabs li a{ color: #000;}
.autoscaling{ padding: 0 15px; border-right: 1px solid #e3e2e2;
  height: 100%;}
  .autoscaling-1{ padding: 0 15px; 
    height: 100%;}
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: #fff;
      background: linear-gradient(to left,#23428b 0,#1d094c 100%);
      border-color: #dee2e6 #dee2e6 #fff;
    }
    .bdr-ld{
border: 1px solid #dee2e6; border-radius: 0 0px 15px 15px ;
}
.nav-item a{ color:#000; background-color:rgb(216,206,255,0.6); }
.nav-tabs .nav-item {
  margin-bottom: -1px;
  margin: 0 1px;
}
.menu-section{ padding: 20px 0; border-bottom:2px solid #ccc; }
.menu-section a.btn-href{ color:#000; font-size: 18px; font-weight: 400; position: relative;
  top: 11px;  }
.menu-section a:hover{ color:#8c8c8c; transition: 0.5s;}
.discover-whats{ position: relative; }
.discover-whats h2 {
  padding: 50px 0 0px 0;
  font-size: 60px;
  text-align: left;
  color: #c2c2c2;
}
.discover-whats h3{ text-align: center; width: 100%; padding: 40px 0 0 0; font-weight: 600; color: #1d1054; }
.discover-whats p.sub-h{ text-align: center; color: #8e8e8e; padding: 25px 0 0 0; }



.future-it{ background-repeat: no-repeat;background-color: #000;background-position: top;padding: 0 0 101px 0;position: relative;}
.future-it p{ color: #fff;margin-top: 0;padding: 0 0;}
.future-it .box-services{ padding: 20px;border-radius: 15px;background: #ADB8C8;border-radius: 16px;margin-top: 50px;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);box-shadow: inset 2px 0 5px;}
.future-it img{ margin: 0 auto; margin-top: 130px; display: block; width: 80%; }
.future-it .box-services p{ margin-top: 0;padding: 0;text-align: center;font-weight: 600;color: #fff;font-size: 24px;}
.future-it h3{ font-size: 70px;margin-top: 0;color: #fff;opacity: 1;text-align: left;margin: 99px 0 21px 0;font-size: 40px;}
.future-it h2{ font-size: 70px;margin-top: 0;color: #fff;text-align: left;margin: 5px 0 5px 0;font-size: 48px;}
.clr-15{ text-align: center;color: #fff;display: block;font-weight: 700;background-color: #7D7D7D;padding: 15px 10px;width: 200px;margin-top: 50px;border-radius: 20px;margin-bottom: 28px;}

.menu-section a.clr-10 {
  text-align: center;
  color: #fff;
  float: right;
  font-size: 20px;
  font-weight: 400;
  background-color:#174b9f;
  width: 155px;
  margin: 0 auto;
    margin-top: 0px;
  margin-top: 0;
  padding: 8px 20px;
  border-radius: 45px;
}
.tab input{ position: absolute;opacity: 0;z-index: -1;}
.tab__content{ max-height: 0;overflow: hidden;transition: all .35s;}
.tab input:checked ~ .tab__content{ max-height: 10rem;}
.accordion{ overflow: hidden;}
.tab__close,.tab__label{ display: flex;color: #fff;background: #788ad2;cursor: pointer;}
.tab__label{ justify-content: space-between;padding: 2rem;border-radius: 8px;}
.tab__label::after{ content: "\276F";width: 1em;height: 1em;text-align: center;transform: rotate(90deg);transition: all .35s;}
.tab input:checked + .tab__label::after{ transform: rotate(270deg);}
.tab__content p{ margin: 0;padding: 1rem;}
.tab__close{ justify-content: flex-end;padding: .5rem 1rem;font-size: .75rem;}
.accordion--radio{ --theme: var(--secondary);}
.tab input:not(:checked) + .tab__label:hover::after{ animation: bounce .5s infinite;}
@keyframes bounce{ 25%{  transform: rotate(90deg) translate(.25rem); }
 75%{  transform: rotate(90deg) translate(-.25rem); }}.platform-we-use{ background: linear-gradient(to left,#23428b 0,#1d094c 100%);padding: 100px 0;}
.platform-we-use p{ color: #fff;margin-top: 0;padding: 0 0;text-align: left;}
.platform-we-use .box-services{ padding: 20px;border-radius: 8px;background: #7783b9;border-radius: 16px;margin-top: 0;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);box-shadow: inset 2px 0 5px;}
.platform-we-use .box-services img{ margin: 0 auto;display: block;}
.platform-we-use .box-services p{ margin-top: 0;padding: 0;text-align: center;font-weight: 600;color: #fff;font-size: 24px;}
.platform-we-use h3{ font-size: 70px;margin-top: 0;color: #fff;opacity: 1;text-align: left;margin: 99px 0 21px 0;font-size: 48px;}
.clr-3{ text-align: center;color: #fff;display: block;font-weight: 700;background-color: #7279b8;padding: 12px 10px;width: 200px;margin-top: 0;margin-top: 0;margin-top: 50px;border-radius: 45px;}
.platform-we-use h2{ font-size: 70px;margin-top: 0;color: #fff;text-align: left;margin: 5px 0 5px 0;font-size: 48px;}
.timeline-devops{ background-repeat: no-repeat;background-image: url(../img/infinity.png);background-position: top;padding: 0 0 101px 0;position: relative;}
.timeline-devops p{ color: #fff;margin-top: 0;padding: 0 0;}
.timeline-devops .box-services{ padding: 20px;border-radius: 15px;background: #7783b9;border-radius: 16px;margin-top: 50px;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);box-shadow: inset 2px 0 5px;}
.timeline-devops .box-services img{ margin: 0 auto;display: block;}
.timeline-devops .box-services p{ margin-top: 0;padding: 0;text-align: center;font-weight: 600;color: #fff;font-size: 24px;}
.timeline-devops h3{ font-size: 70px;margin-top: 0;color: #fff;opacity: 1;text-align: left;margin: 99px 0 21px 0;font-size: 40px;}
.clr-3{ text-align: center;color: #fff;display: block;font-weight: 700;background-color: #7279b8;padding: 12px 10px;width: 200px;margin-top: 50px;border-radius: 45px;margin-bottom: 28px;}
.timeline-devops h2{ font-size: 70px;margin-top: 0;color: #fff;text-align: left;margin: 5px 0 5px 0;font-size: 48px;}
.our-clients p{ text-align: center;color: #1d094c;font-weight: 300;}
.faq-section{ padding: 55px 0;}
.faq-section h3{ font-size: 60px;margin-top: 0;color: #7a729a;opacity: .2;text-align: left;margin: 0 0 30px 0;}
.faq-section h2{ font-size: 70px;margin-top: 0;color: #000;padding: 0 0 34px 0;text-align: center;margin: 5px 0 5px 0;font-size: 48px;}
.faq-section p{ text-align: left;color: #000;font-weight: 300;}
.faq-section .icon-logo{ border-radius: 25px;padding: 25px;margin-top: 30px;background-color: #f3f6f9;box-shadow: 1px 10px 19px rgba(185,182,182,.4);margin-bottom: 70px;}
.header__info-right ul li a span{ height: 30px;width: 30px;background: rgba(255,255,255,.1);border-radius: 50%;line-height: 30px;text-align: center;display: inline-block;margin-right: 5px;}
.solutions h2{ font-size: 60px;margin-top: -50px;color: #3881c7;text-align: left;}
.header__logo{ padding: 0px 0;
  position: relative;
  top: 0px;
  margin-right: 52px;}
.header__logo a{ display: inline-block;font-size: 24px;color: #000;font-weight: 900;}
.header__menu{ text-align: right;padding: 29px 0;margin: 0 0 auto;}
.header__menu ul li{ list-style: none;display: inline-block;margin-right: 24px;position: relative;}
.menu-middle{ padding: 7px 10px 0 0;}
ul.login-n li{ margin-right: 11px;}
.header__menu ul li .dropdown{ position: absolute;left: 0;top: 40px;width: 257px;background: #fff;opacity: 0;visibility: hidden;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;-webkit-box-shadow: 0 0 10px rgba(18,8,81,.15);box-shadow: 0 0 10px rgba(18,8,81,.15);}
.header__menu ul li .dropdown li{ display: block;text-align: left;margin-right: 0;}
.header__menu ul li .dropdown li a{ color: #111;padding: 10px 15px;text-transform: capitalize;font-weight: 500;}
.header__menu ul li .dropdown li:hover{ background: linear-gradient(to left,#23428b 0,#1d094c 100%);}
.header__menu ul li .dropdown li a:hover{ color: #fff!important;transition: 1s;}
.header__menu ul li .dropdown li a:after{ display: none;}
.header__menu ul li:last-child{ margin-right: 0;}
.header__menu ul li.active a:after{ opacity: 1;height: 9%;}
.header__menu ul li:hover .dropdown{ opacity: 1;visibility: visible;top: 36px;}
.header__menu ul li:hover a:after{ opacity: 1;height: 9%;}
.header__menu ul li a{ color: #fff;font-size: 15px;font-weight: 700;text-transform: uppercase;display: block;padding: 0 3px;position: relative;z-index: 1;}
.bg-clr{ background-color: #248fcb;padding: 7px 15px;}
.bg-clr a{ color: #fff!important;}
.header__menu ul li a:after{ position: absolute;left: 0;bottom: 1px;width: 100%;height: 0%;background: transparant;content: "";z-index: -1;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;opacity: 0;}
.offcanvas__menu__wrapper{ display: none;}
.canvas__open{ display: none;}
.freatures-project a:hover{ color: #000;transition: 1s;}
footer a{ color: #fff;text-decoration: none;transition: all .3s;}
footer p{ color: #fff!important;}
a:focus,footer a:hover{ text-decoration: none;color: #fff;}
footer i.bg-s{ background-color: #09427d;text-align: center;font-size: 22px;line-height: 50px;color: #fff;height: 50px;width: 50px;border-radius: 50%;}
footer i.bg-s:hover{ background-color: #083360;transition: 1s;}
footer .form-control{ background: #212529;border-color: #545454;}
footer h5{ font-weight: 700;font-size: 16px;}
footer ul li{ padding: 7px 0;}
footer .form-control:focus{ background: #212529;}
footer .footer-widget{ margin-bottom: 0;}
footer .position-relative{ position: relative!important;}
footer .footer-widget .footer-sb-form input[type=email]{ width: 100%;padding: 20px 100px 20px 20px;background-color: #09427d;border-radius: 5px;border: 0;color: #fff;}
footer .footer-widget .footer-sb-form button{ position: absolute;right: 10px;top: 8.5px;border: 0;}
footer .primary-btn::before{ content: "";position: absolute;left: 0;top: 0;width: 102%;height: 100%;background: linear-gradient(95.45deg,#1c40f2 98.23%,#0082f8 .64%);z-index: -1;opacity: 0;-webkit-transition: all .3s ease-in;transition: all .3s ease-in;}
footer .primary-btn{ background: linear-gradient(95.45deg,#0082f8 .64%,#1c40f2 98.23%);position: relative;z-index: 1;}
footer .template-btn{ display: inline-block;font-family: Urbanist,sans-serif;font-weight: 600;border-radius: 5px;padding: 11px 24px;color: #fff;vertical-align: middle;overflow: hidden;-webkit-transition: all .3s ease-in;transition: all .3s ease-in;}
footer{ background: #0050a3;}
footer .bg-l{ width: 100%;height: 50px;background-color: #09427d;margin: 0 auto;padding: 10px 0 0 0;display: block;border-radius: 6px;}
footer .bg-l:hover{ background-color: #083360;transition: 1s;}
footer .bg-l img{ margin: 0 auto;display: block;}
.footer-end{ background-color: #0d4d8f;padding: 8px 0;}
.footer-end a{ color: #fff;text-decoration: none;font-weight: 600;}
.footer-end p{ color: #fff;}
.footer-end .copy-right{ text-align: left;position: relative;top: 8px;}
.footer-end .privacy{ text-align: right;position: relative;top: 8px;color: #fff;}
.our-services{ background: linear-gradient(to left,#23428b 0,#1d094c 100%);padding: 58px 0;}
.our-services h2{ font-size: 60px;margin-top: 0;color: #4b477e;text-align: left;}
.our-services h3{ color: #fff;text-align: right;font-size: 48px;margin-right: 75px;}
.our-services p{ color: #fff;margin-top: 60px;padding: 0 60px;}
.our-services .box-services{ padding: 20px;border-radius: 8px;background: rgba(166,162,213,.2);margin-top: 50px;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);box-shadow: inset 2px 0 5px;-webkit-backdrop-filter: blur(5px);}
.our-services .box-services:hover{ background-color: #005eb8;transition: 1s;}
.our-services .box-services img{ margin: 0 auto;display: block;}
.our-services .box-services p{ margin-top: 0;padding: 0;text-align: center;font-weight: 600;color: #fff;font-size: 24px;}
.our-clients h3{ font-size: 60px;margin-top: 0;color: #1d094c;opacity: .2;text-align: left;margin: 50px 0 30px 0;}
.our-clients h2{ font-size: 70px;margin-top: 0;color: #1d094c;text-align: center;margin: 5px 0 5px 0;font-size: 48px;}
.our-clients p{ text-align: center;color: #1d094c;font-weight: 300;}
.our-clients .icon-logo{ border-radius: 16px;padding: 0px 25px 25px 25px;margin-top: 0px;background-color: transparent;box-shadow: transparent ;margin-bottom: 70px;}
.our-clients .icn-log{ margin-bottom:30px; margin-top:25px; border:1px dashed #ccc;  }
.we-align-devs{ background: linear-gradient(to left,#23428b 0,#1d094c 100%);padding: 58px 0;}
.we-align-devs h2{ font-size: 60px;margin-top: 0;color: #4b477e;text-align: left;margin-bottom: 35px;}
.we-align-devs .whychoose-algn{ text-align: center;}
.we-align-devs .whychoose-algn h3{ text-align: center;}
.we-align-devs .whychoose-algn{ text-align: center;}
.we-align-devs .whychoose-algn h3{ text-align: center;}
.we-align-devs .whychoose-algn h3{ color: #fff;text-align: left;font-size: 36px;margin-right: 75px;}
.we-align-devs p{ color: #fff;margin-top: 15px;padding: 0 0;font-size: 19px;text-align: justify;}
.we-align-devs .box-services{ padding: 20px;border-radius: 15px;background: rgba(166,162,213,.2);border-radius: 16px;margin-top: 17px;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.we-align-devs .box-services h2{ font-size: 42px;margin-top: 0;color: #fff;text-align: left;margin-bottom: 0;opacity: .2;}
.we-align-devs .box-services h6{ font-size: 20px;color: #fff;}
.we-align-devs .box-services p{ font-size: 14px;}
.we-align-devs .global-leading{ background: linear-gradient(to left,#394d93 0,#362668 100%);opacity: 1;padding: 39px 60px;border-radius: 0 8px 8px 0;max-height: 100%;min-height: 100%;}
.right-icn{ float: right;}
.we-align-devs .case-st-img{ position: relative;}
.we-align-devs .case-st-img img{ border-radius: 8px 0 0 8px;height: 380px;max-height: 100%;min-height: 100%;}
.we-align-devs .global-leading H3{ text-align: left;color: #000;}
.we-align-devs .global-leading P{ color: #fff;text-align: LEFT;}
fieldset{ border: none;padding: 0;overflow: hidden;}
fieldset > label input[type=radio]{ display: none;}
fieldset > label > span{ padding: 15px 20px;display: block;cursor: pointer;font-weight: 900;text-transform: uppercase;background: 0 0;border-radius: 10px;color: #fff;}
fieldset > label > div{ display: grid;grid-template-rows: 0fr;transition: all ease-in-out .3s;overflow: hidden;padding: 0;}
fieldset > label input[type=radio]:checked + div{ grid-template-rows: 1fr;}
fieldset > label > div > p{ overflow: hidden;padding: 0;margin: 0;font-size: 16px!important;padding: 0 20px!important;}
.why-choose-us{ background: linear-gradient(to left,#23428b 0,#1d094c 100%);padding: 100px 0;}
.why-choose-us h2{ font-size: 60px;margin-top: 0;color: #4b477e;text-align: left;margin-bottom: 35px;}
.why-choose-us{ background: linear-gradient(to left,#23428b 0,#1d094c 100%);padding: 58px 0;}
.why-choose-us h2{ font-size: 60px;margin-top: 0;color: #4b477e;text-align: left;margin-bottom: 35px;}
.whychoose-algn{ text-align: center;}
.whychoose-algn h3{ text-align: center;}
.why-choose-us h3{ color: #fff;text-align: left;font-size: 36px;margin-right: 75px;}
.why-choose-us p{ color: #fff;margin-top: 15px;padding: 0 0;font-size: 19px;}
.why-choose-us .box-services{ padding: 20px;background: rgba(166,162,213,.2);border-radius: 8px;margin-top: 17px;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.why-choose-us .box-services h2{ font-size: 42px;margin-top: 0;color: #fff;text-align: left;margin-bottom: 0;opacity: .2;}
.why-choose-us .box-services h6{ font-size: 17px;color: #fff;}
.fnt-size{ font-size: 50px;}
.why-choose-us .box-services p{ font-size: 14px;}
.case-studies{ background-size: cover;background-image: url(../img/case-study.png);padding: 40PX 0 70px 0;background-position: left;background-repeat: no-repeat;}
.case-studies h3{ color: #000;text-align: center;margin: 0 0 20px 0;}
.case-studies p{ text-align: center;color: #000; margin-bottom: 57px;}
.case-studies .global-leading{ background-color: #fff;padding: 88px 60px;border-radius: 0 5px 5px 0;}
.case-studies .case-st-img{ position: relative;}
.case-studies .case-st-img img{ border-radius: 5px 0 0 5px;}
.case-studies .global-leading H3{ text-align: left;color: #000;}
.case-studies .global-leading P{ color: #000;text-align: LEFT;}
.bank{ position: relative;margin: 0 0 0px 0; padding:0 0 63px 0; background-color: #000;}
.bank .bx-img{ border: 1px solid #eeebeb;border-radius: 5px; background-color: #fff;}
.bx-img h5{ padding: 20px 50px;text-align: center;}
.bx-img a{ padding: 0 0 20px 0;text-align: center;display: block;}
.bank img{ border-radius: 5px 5px 0 0;}
.clr .mg-right{ margin-left: 3px;}
.clr:hover .mg-right{ margin-left: 10px;transition: 1s;}
.clr{ color: #000;}
.clr:hover{ color: #7d7d7d;transition: 1s;}
.clr-1{ text-align: center;color: #fff;display: block;font-weight: 700;background-color: rgba(33,43,113,.6);padding: 12px 10px;width: 305px;margin: 0 auto;margin-top: 0;margin-top: 50px;border-radius: 45px;}
.clr-1:hover{ background-color: #000;transition: 1s;}
.clr-1 .mg-right{ margin-left: 3px;}
.clr-1:hover .mg-right{ margin-left: 10px;transition: 1s;}
.clr-2{ text-align: center;color: #fff;display: block;font-weight: 700;background-color: #7279b8;padding: 12px 10px;width: 200px;margin: 0 auto;margin-top: 0;margin-top: 50px;border-radius: 45px;}
.clr-2:hover{ color: #fff;background-color: #000;transition: 1s;}
.clr-2:hover .mg-right{ margin-left: 10px;transition: 1s;}
.clr-2 .mg-right{ margin-left: 3px;}
.know-more{ position: relative;margin: 0;padding: 58px 0 58px 0;background-color: #0a142a;}
.know-more .bx-img{ border-radius: 30px;}
.know-more .bx-img h5{ padding: 20px 50px;color: #fff;text-align: center;}
.know-more .bx-img a{ padding: 0 0 20px 0;color: #fff;text-align: center;display: block;}
.know-more img{ border-radius: 15px 15px 15px 15px;}
.section-title{ position: relative;font-size: 30px;font-weight: 600;margin: 0 0 35px;}
.sec-pad{ padding: 60px 0;}
.contact-sec{ align-item: center;display: flex;background: linear-gradient(to left,#23428b 0,#1d094c 100%);}
.contact-sec .contact-ul li,.contact-ul b{ font-size: 20px;margin: 10px 0;font-family: Cambria,Cochin,Georgia,Times,"Times New Roman",serif;word-wrap: break-word;}
.contact-sec .contact-ul i{ font-size: 18px;padding: 10px;margin-right: 10px;border-radius: 50%;}
.contact-detail a{ color: #000;text-decoration: none;}
.accordion{ max-width: 1170px;margin: 13px auto 0;}
.at-tab{ display: none;padding: 15px;border: 0 solid #ddd;border-top: none;box-shadow: 0 2px 4px transparent;background-color: transparent;color: #fff;}
.at-title{ cursor: pointer;background-color: transparent;position: relative;transition: background-color .3s ease;color: #fff;}
.at-title:hover{ background-color: transparent;}
.at-title:after{ content: "+";position: absolute;top: 50%;transform: translateY(-50%);right: 10px;transition: all .3s ease;font-size: 24px;}
.at-title.active:after{ content: "-";}
.at-item{ border-radius: 5px;margin-bottom: 15px;}
.at-title h2{ font-size: 22px;font-weight: 600;padding: 10px 15px;margin: 0;}
.accordion-header{ text-align: center;background-color: transparent;color: #fff;padding: 20px 0;}
form.contFrm{ max-width: 487px;margin: auto;}
.inptFld{ width: 100%;height: 50px;border: 0;margin: 0 0 10px;border-radius: 8px;padding: 0 20px;font-size: 16px;color: #fff;background-color: rgb(255,255,255,.5);}
.inptFld:focus{ outline-offset: -4px;outline: 0;}
.inptBtn{ height: 50px;border: 0;background: #fc0203;font-size: 14px;color: #fff;margin: auto;letter-spacing: 1px;cursor: pointer;width: 100%;max-width: 200px;border-radius: 40px;}
.inptBtn:hover{ background: #000;transition: 1s;}
.frm{ background: rgba(166,162,213,.2);border-radius: 8px;margin-top: 17px;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);padding: 50px 0;}
@keyframes bounce2{ 0%, 100%, 20%, 50%, 80%{  transform: translateY(0); }
 40%{  transform: translateY(-7px); }
 60%{  transform: translateY(-3px); }}.mus{ position: absolute;left: 50.3%;bottom: 3%;animation: bounce2 2s ease infinite;width: 2.4%!important;}
.chev-dn{ position: absolute;left: 51.1%;animation: bounce2 2s ease infinite;bottom: 1%;color: #fff;}
.contact-sec h2{ color: #fff;}
.contact-sec h4{ color: #fff;}
@media (max-width:991px){ 
  .sec-pad{  padding: 20px 0 0; }
 .contact-sec .contact-ul li, .contact-ul b{  font-size: 18px; }
 .contact-sec .contact-ul i{  font-size: 14px;padding: 6px;margin-right: 6px; }
 .inptFld{  height: 40px;margin: 0 0 10px;padding: 0 14px;font-size: 14px; }
}
 @media (max-width:767px){ .contact-detail span{  width: auto; }
 .contact-detail span a{  font-size: 18px;padding: 5px 10px;color: #000;border-radius: 50%;margin: 0 5px 20px; }
 .hero__item .hero__text{  padding-top: 123px; }
 .snwn-benefits .project{  box-shadow: 0 8px 5px 0 rgba(0,0,0,.08);height: 97%;padding: 48px 20px;border-radius: 30px;margin: 19px 0 0 0;background: linear-gradient(to left,#394d93 0,#362668 100%); }
 .mobile-responsive-scale{  margin: 0 15px; }
 .overview .img-overview img{  width: 59%;border-radius: 8px;margin-top: 0!important;margin-bottom: 100px!important;margin: 0 auto;margin-top: 0;margin-bottom: 0;display: block; }
 .overview p{  color: #fff;padding: 0 0 34px 0;position: relative; }
 .all-features{  margin-bottom: 40px; }
}
 @media (max-width:575px){ .section-title{  font-size: 26px;font-weight: 500; }
 .new-menu-top{ background-color:#fff; }
 .contact-sec{  border-radius: 10% 10% 0 0/5% 5% 0 0;margin-top: 50px; }
 .snwn-benefits .project{  box-shadow: 0 8px 5px 0 rgba(0,0,0,.08);height: 97%;padding: 48px 20px;border-radius: 30px;margin: 19px 0 0 0;background: linear-gradient(to left,#394d93 0,#362668 100%); }
 .contact-sec .contact-ul i{  border: none; }
 .inptFld{  height: 36px;margin: 0 0 8px;padding: 0 14px;font-size: 14px; }
 .hero__item .hero__text{  padding-top: 123px; }
 .mobile-responsive-scale{  margin: 0 15px; }
}
 @media (max-width:480px){ .contact-sec .contact-ul li, .contact-ul b{  font-size: 16px; }
 .case-studies .global-leading{  background-color: #fff;padding: 58px 60px;border-radius: 0 0 40px 40px; }
 .snwn-benefits .project{  box-shadow: 0 8px 5px 0 rgba(0,0,0,.08);height: 97%;padding: 48px 20px;border-radius: 30px;margin: 19px 0 0 0;background: linear-gradient(to left,#394d93 0,#362668 100%); }
 .mobile-responsive-scale{  margin: 0 15px; }
 .case-studies .case-st-img img{  border-radius: 6px 6px 0 0;height: 320px;width: 100%; }
 .bank .bx-img{  border: 1px solid #999898;border-radius: 30px;margin-bottom: 40px; }
 .hero__item .hero__text{  padding-top: 123px; }
 .overview .img-overview img{  width: 59%;border-radius: 8px;margin-top: 0!important;margin-bottom: 100px!important;margin: 0 auto;margin-top: 0;margin-bottom: 0;display: block; }
 .overview p{  color: #fff;padding: 0 0 34px 0;position: relative; }
 .all-features{  margin-bottom: 40px;margin-top: 50px; }}
 .tab-content > .active{ display: block;color: #000!important;opacity: 1; }
.appllication-service{ margin: 70px 0 0 0;}
.appllication-service h3{ margin: 0 0 40px 0;text-align: center;}
.appllication-service ul{ margin-bottom: -1px;}
.cunt-section{ margin: 40px 0;}
.block-dark{ background-color: #000;}
.dark-top-curved-bg{ background-image: url(../img/curve-dark-top-bg.png);}
.text-muted,.text-muted i{ color: #b5b5c3!important;}
.text-dark-60{ color: #7e8299!important; position: relative;}
.text-dark-60:hover{ color: #b0b0b0!important;}
.text-dark-60:hover:after{  color: #b0b0b0!important; position: absolute; width: 100%; height: 1px;; content: ""; top:0; left:0; border: 1px solid #000;}

.page_speed_560018307{ border-top: 1px solid #152231;}
.h-20px{ height: 20px!important;}
.mr-2,.mx-2{ margin-right: .5rem!important;}
.rounded-sm{ border-radius: .25rem!important;}
.w-20px{ width: 20px!important;}
.mr-4,.mx-4{ margin-right: 1rem!important;}
.footer__top{ position: relative;z-index: 1;padding-top: 50px;padding-bottom: 265px;}
.footer__top::before{ position: absolute;left: 0;top: 0;height: 100%;width: 50%;background: #0b052f;content: "";z-index: -1;}
.footer__top::after{ position: absolute;right: 0;top: 0;height: 100%;width: 50%;background: #0e0739;content: "";z-index: -1;}
.footer__top-call h5{ font-size: 20px;color: #fff;font-weight: 700;margin-bottom: 18px;}
.footer__top-call h2{ font-weight: 700;color: #4c57d6;}
.footer__top-auth{ padding-left: 25px;}
.footer__top-auth h5{ font-size: 20px;color: #fff;font-weight: 700;margin-bottom: 20px;}
.footer__top-auth .sign-up{ margin-left: 6px;background: 0 0;border: 2px solid #4c57d6;padding: 12px 30px 10px;}
.footer__text{ position: relative;z-index: 99;padding-top: 140px;margin-top: -225px;}
.footer__text-about{ margin-bottom: 30px;}
.footer__text-about .footer__logo{ margin-bottom: 24px;}
.footer__text-about .footer__logo a{ display: inline-block;}
.footer__text-about p{ color: #c4c4c4;line-height: 24px;margin-bottom: 20px;}
.footer__text-about .footer__social a{ display: inline-block;font-size: 18px;color: #c4c4c4;margin-right: 26px;}
.footer__text-about .footer__social a:last-child{ margin-right: 0;}
.footer__text-widget{ margin-bottom: 30px;}
.footer__text-widget h5{ font-size: 20px;color: #fff;font-weight: 700;text-transform: uppercase;margin-bottom: 25px;}
.footer__text-widget ul li{ list-style: none;}
.footer__text-widget ul li a{ font-size: 14px;color: #c4c4c4;line-height: 30px;}
.footer__text-widget .footer__widget-info li{ list-style: none;font-size: 14px;color: #c4c4c4;line-height: 42px;position: relative;padding-left: 35px;}
.footer__text-widget .footer__widget-info li span{ color: #4c57d6;position: absolute;left: 0;top: 14px;}
.footer__text-copyright{ font-size: 14px;color: #c4c4c4;text-align: center;padding: 25px 0;border-top: 1px solid #2a2163;margin-top: 20px;}
.hero__slider.owl-carousel .owl-item.active .hero__item .hero__text h5{ top: 0;opacity: 1;}
.hero__slider.owl-carousel .owl-item.active .hero__item .hero__text h2{ top: 0;opacity: 1;}
.hero__slider.owl-carousel .owl-item.active .hero__item .hero__text .primary-btn{ top: 0;opacity: 1;}
.hero__slider.owl-carousel .owl-dots{ position: absolute;width: 100%;left: 0;bottom: 118px;text-align: center;}
.hero__slider.owl-carousel .owl-dots button{ height: 5px;width: 25px;background: #433b76;border-radius: 50px;margin-right: 10px;}
.hero__slider.owl-carousel .owl-dots button.active{ background: #4c57d6;}
.hero__slider.owl-carousel .owl-dots button:last-child{ margin-right: 0;}
.hero__img{ margin-top: 0px;}
.hero__item{ height: 765px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center; width: 100%;}
.hero__item .hero__text{ padding-top: 27px;}
.hero__item .hero__text h5{ color: #fff;opacity: .7;font-weight: 500;margin-bottom: 15px;position: relative;top: 100px;opacity: 0;-webkit-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out;}
/*.hero__text h1 span{ color: #000;}*/
.hero__item .hero__text h2{ color: #000f;font-weight: 700;line-height: 20px;text-transform: uppercase;margin-bottom: 28px;/*position: relative;top: 100px;*/opacity: 1;-webkit-transition: all .6s ease-out;-o-transition: all .6s ease-out;transition: all .6s ease-out;margin-top: 25px;}
.hero__item .hero__text .primary-btn{ position: relative;top: 100px;opacity: 0;-webkit-transition: all .9s ease-out;-o-transition: all .9s ease-out;transition: all .9s ease-out;}
@media only screen and (min-width:1400px){ 
.container{  max-width: 1170px;
}

}
@media only screen and (min-width:992px) and (max-width:1400px){ }
@media only screen and (min-width:992px) and (max-width:1199px){ 
 .register__text .register__result ul li{  margin-right: 30px; }
 .about__text .about__achievement .about__achieve__item{  margin-right: 60px;  } 
 .blog__details__comment .blog__details__comment__list .blog__details__comment__item.blog__details__comment__reply{  margin-left: 0; }
 .blog__item .blog__text ul li{  margin-right: 5px; }
 .header__menu{  text-align: right;padding: 20px 0;margin: 0 0 auto; }
 .header__menu ul li{  list-style: none;display: inline-block;margin-right: 6px;position: relative; }
 .header__menu ul li a{  color: #fff;font-size: 13px;font-weight: 700;text-transform: uppercase;display: block;padding: 0 8px;position: relative;z-index: 1; }}
 @media only screen and (min-width:481px) and (max-width:765px){ 
  .menu-item-1 a:hover{ color:#000; }
  .menu-item-1 a:focus, footer a:hover {
    text-decoration: none;
    color: #000;
  }
 .case-studies .case-st-img img{  border-radius: 6px 6px 0 0;height: 320px;width: 100%; }
 .new-menu-top {background-color: #fff;}
 .mus{  position: absolute;left: 48.5%;bottom: 9%;animation: bounce2 2s ease infinite;width: 8%!important; }
 .hero__item .hero__text{  padding-top: 123px; }
 .frm{  background: rgba(166,162,213,.2);border-radius: 16px;margin-top: 17px;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);padding: 50px 30px; }
 .case-studies h3{  color: #fff;text-align: center;margin: 0 0 20px 0;padding: 48px 0 0 0; }
 .bank .bx-img{  border: 1px solid #999898;border-radius: 30px;margin-bottom: 40px; }
}
 @media only screen and (min-width:768px) and (max-width:991px){ body{  overflow-x: hidden; }
 .menu-item-1 a:hover{ color:#000; }
 .menu-item-1 a:focus, footer a:hover {
  text-decoration: none;
  color: #000;
}
 .register__text .register__result ul li{  margin-right: 50px; }
 .new-menu-top {background-color: #fff;}
 .mus{  position: absolute;left: 49.1%;bottom: 8%;animation: bounce2 2s ease infinite;width: 6%!important; }
 .moigration h2{  margin-top: 0; }
 .header__menu{  text-align: right;padding: 17px 0;margin: 0 0 auto; }
 .case-studies .global-leading{  background-color: #fff;padding: 57px 60px;border-radius: 0 40px 40px 0; }
 .bg-clr{  background-color: #248fcb;padding: 7px 9px; }
 .wordpress{  position: relative;background: linear-gradient(to bottom,#ccedff 0,#fff 100%);background-repeat: repeat;z-index: 3;height: 34%;background-repeat: no-repeat; }
 .support .bx .support-chat img{  width: 36px;padding: 10px 0; }
 .header__menu ul li{  list-style: none;display: inline-block;margin-right: 6px;position: relative; }
 .header__menu ul li a{  color: #fff;font-size: 12px;font-weight: 700;text-transform: uppercase;display: block;padding: 0 8px;position: relative;z-index: 1; }
 .wordpress .bg-section{  position: absolute;right: 0;min-height: 604px;padding: 0;top: 0;margin-top: 41px; }
 .wordpress .bg-section .green-shape{  width: 100%!important;border-radius: 77px 0 0 77px;padding: 15px 29px; }
 .wordpress .bg-section .green-shape ul li{  font-weight: 800;width: 46%;display: inline-flex; }
 .wordpress .bg-section .green-shape .btn-bottom-section-1{  position: absolute;z-index: -2;bottom: 0;width: 78%;background-color: #e671cf;top: -50px;left: -30px;height: 153px;transform: skew(-40deg);border-radius: 23px; }
 .moigration a{  background-color: #7355f7;padding: 15px 18px;margin-top: 25px;text-align: center;color: #fff;border-radius: 7px;display: block;width: 40%;margin-top: 30px; }
 .wordpress .bg-section .green-shape .btn-bottom-section a{  background-color: #7355f7;color: #fff;padding: 12px 10px;border-radius: 15px;margin-left: 0;font-size: 12px; }
 .wordpress .bg-section .green-shape .btn-bottom-section{  position: absolute;bottom: 0;width: 100%; }
 .inner-section{  margin: 0 auto;display: block;width: 100%;text-align: center!important; }
 .support .bx .support-chat h3{  font-size: 15px;padding: 10px 17px;color: #fff; }
 .support .bx .support-chat p{  font-size: 14px;padding: 2px 17px;color: #fff; }
 .feature-rich .hosting-detail{  background-color: #fff;padding: 40px 20px;box-shadow: 0 8px 32px 0 rgba(0,0,0,.08);margin-bottom: 26px; }
 .website-builder .inner-section h3{  font-size: 24px;margin-bottom: 10px;text-align: center!important; }
 .hosting-detail img{  width: 60px;text-align: center;display: block;margin: 0 auto; }
 .feature-rich .hosting-detail p.off{  background-color: #e9efff;padding: 8px 7px;border-radius: 10px;width: 100px;display: block;text-align: center;margin: 0 auto;margin-top: 0;margin-top: 15px; }
 .review .round{  background-color: #ccedff;padding: 15px 15px;border-radius: 62px;margin-bottom: 15px; }
 .domain .input-btns{  padding: 16px 58px;background-color: #55bdf7;color: #fff!important;top: 17px;position: relative;display: block;text-align: center;font-weight: 600; }
 .domain .input-btns-1{  padding: 19px 25px;position: relative;border-radius: 15px;top: 35px;color: #fff;background-color: #7355f7;margin-top: 50px;margin-left: 16px;display: block;text-align: center;font-weight: 700; }
 .resp{  width: 25%; }
 .work__item{  margin-bottom: 30px; }
 .plan__text{  padding-top: 40px; }
 .footer__text{  padding-top: 240px; }
 .about__text{  padding-top: 40px; }
 .footer__top-call{  margin-bottom: 30px; }
 .footer__top-auth{  padding-left: 0; }
 .question__accordin{  margin-bottom: 20px; }
 .hero__item{  height: auto;padding-bottom: 100px;padding-top: 100px; }
 .header__menu ul li{  margin-right: -2px; }
 .header__info-left ul li{  font-size: 13px;color: #1d2a3b;list-style: none;display: inline-block;margin-right: 25px;font-weight: 600; }
 .header__info-right ul li{  margin-right: 10px; }
 .team__item{  text-align: center; }
 .team__item .team__pic{  float: none;margin-bottom: 15px;margin-right: 0; }
 .blog__hero__text{  padding-top: 90px; }
 .blog__details__comment .blog__details__comment__list .blog__details__comment__item.blog__details__comment__reply{  margin-left: 50px; }
 .blog-hero-section{  height: 640px; }
 .contact__text{  margin-bottom: 30px; }
 .blog__sidebar{  padding-top: 50px; }
 .blog-hero-section{  height: auto; }
 .blog-hero-section .blog__hero__pic{  position: relative;width: 100%;height: 640px; }
 .blog__hero__text{  padding-bottom: 40px; }}
 @media only screen and (max-width:767px){ body{  overflow-x: hidden; }
 .header__info{  display: none; }
 .header__logo img{  display: block;padding: 0;margin: 0 7px auto; }
 .frm{  background: rgba(166,162,213,.2);border-radius: 16px;margin-top: 17px;box-shadow: 0 4px 30px rgba(0,0,0,.1);backdrop-filter: blur(5px);padding: 50px 30px;margin-bottom: 32px; }
 .case-studies .global-leading{  background-color: #fff;padding: 58px 60px;border-radius: 0 0 40px 40px; }
 .slicknav_nav ul li:hover{  padding: 0 0;transition: 1s; }
 .slicknav_nav ul li ul li:hover{  background-color: #55bdf7;padding: 0 6px;transition: 1s; }
 .offcanvas__auth ul li:hover{  background-color: #55bdf7;padding: 8px 15px!important;transition: 1s; }
 .offcanvas__auth ul li{  list-style-type: disc;color: #fff; }
 .slicknav_arrow{  position: absolute;top: 16px;right: 21px; }
 footer .bg-l{  width: 100%;height: 50px;background-color: #09427d;margin: 10px auto;padding: 10px 0 0 0;display: block;border-radius: 6px; }
 .support{  background-color: transparent;position: relative;height: auto;margin: 125px 0; }
 .support .bx .support-chat{  position: relative;padding: 25px 20px;top: 0;border-radius: 30px 30px 30px 30px;background-color: #0d0d0d;width: 92%;margin-bottom: 20px; }
 .inner-section{  margin: 0 auto;display: block;width: 100%;text-align: center!important; }
 .wordpress .bg-section{  position: absolute;right: 0;min-height: 604px;padding: 0;top: 0;margin-top: 41px; }
 .wordpress .bg-section .green-shape{  width: 100%!important;border-radius: 77px 0 0 77px;padding: 15px 29px; }
 .wordpress .bg-section .green-shape ul li{  font-weight: 800;width: 46%;display: inline-flex; }
 .wordpress .bg-section .green-shape .btn-bottom-section-1{  position: absolute;z-index: -2;bottom: 0;width: 78%;background-color: #e671cf;top: -50px;left: -30px;height: 153px;transform: skew(-40deg);border-radius: 23px; }
 .moigration a{  background-color: #7355f7;padding: 15px 20px;margin-top: 25px;text-align: center;color: #fff;border-radius: 7px;display: block;width: 40%;margin-top: 30px; }
 .wordpress .bg-section .green-shape .btn-bottom-section a{  background-color: #7355f7;color: #fff;padding: 12px 10px;border-radius: 15px;margin-left: 0;font-size: 12px; }
 .wordpress .bg-section .green-shape .btn-bottom-section{  position: absolute;bottom: 0;width: 100%; }
 .feature-rich .hosting-detail{  background-color: #fff;padding: 40px 20px;box-shadow: 0 8px 32px 0 rgba(0,0,0,.08);margin-bottom: 26px; }
 .website-builder .inner-section h3{  font-size: 24px;margin-bottom: 10px;text-align: center!important; }
 .feature-rich .hosting-detail p.off{  background-color: #e9efff;padding: 8px 7px;border-radius: 10px;width: 100px;display: block;text-align: center;margin: 0 auto;margin-top: 0;margin-top: 15px; }
 .hosting-detail img{  width: 60px;text-align: center;display: block;margin: 0 auto; }
 .domain .input-btns-1{  padding: 19px 25px;position: relative;border-radius: 15px;top: 0;color: #fff;background-color: #7355f7;margin-top: 0;margin-left: 0;display: block;text-align: center;font-weight: 700; }
 .review .round{  background-color: #ccedff;padding: 15px 15px;border-radius: 62px;margin-bottom: 15px; }
 .domain .input-btns{  padding: 16px 58px;background-color: #55bdf7;color: #fff!important;top: 17px;position: relative;display: block;text-align: center;font-weight: 600; }
 .header__menu{  display: none; }
 .resp{  width: 25%; }
 .header-section .container{  position: relative; }
 .offcanvas__menu__overlay{  position: fixed;left: 0;top: 0;height: 100%;width: 100%;background: rgba(0,0,0,.5);z-index: 98;visibility: hidden;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s; }
 .offcanvas__menu__overlay.active{  visibility: visible; }
 .canvas__open{  display: block;font-size: 20px;color: #fff;height: 30px;width: 30px;line-height: 30px;text-align: center;border: 1px solid #fff;cursor: pointer;position: absolute;right: 15px;top: 30px; }
 .offcanvas__menu__wrapper{  display: block;width: 300px;position: fixed;left: -300px;top: 0;background: linear-gradient(to left,#394d93 0,#362668 100%);z-index: 999;height: 100%;overflow-y: auto;padding-left: 30px;padding-bottom: 30px;padding-top: 80px;padding-right: 30px;opacity: 0;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s; }
 .offcanvas__menu__wrapper.show__offcanvas__menu{  opacity: 1;left: 0; }
 .offcanvas__menu__wrapper .canvas__close{  font-size: 30px;color: #fff;position: absolute;right: 30px;top: 20px;cursor: pointer; }
 .offcanvas__menu__wrapper .offcanvas__logo{  margin-bottom: 30px; }
 .offcanvas__menu__wrapper .offcanvas__menu{  display: none; }
 .offcanvas__menu__wrapper .slicknav_btn{  display: none; }
 .offcanvas__menu__wrapper .slicknav_nav .slicknav_item a{  border-bottom: none!important; }
 .offcanvas__menu__wrapper .slicknav_nav{  display: block!important; }
 .offcanvas__menu__wrapper .slicknav_menu{  background: 0 0;padding: 0;margin-bottom: 30px; }
 .offcanvas__menu__wrapper .slicknav_nav ul{  margin: 0;color: #fff;padding: 0 15px; }
 .offcanvas__menu__wrapper .slicknav_nav ul ul{  margin: 0;color: #fff;padding: 0 5px!important; }
 .offcanvas__menu__wrapper .slicknav_nav ul li{  margin: 0;color: #fff;padding: 0 5px; }
 .offcanvas__menu__wrapper .slicknav_nav a{  color: #fff;font-size: 16px;font-weight: 500;margin: 0;border-bottom: 0 solid #e1e1e1;position: relative;display: block; }
 .offcanvas__menu__wrapper .slicknav_nav a:hover{  border-radius: 0;background: 0 0;color: #ccedff; }
 .offcanvas__menu__wrapper .slicknav_nav .slicknav_row, .offcanvas__menu__wrapper .slicknav_nav a{  padding: 8px 0; }
 .offcanvas__menu__wrapper .offcanvas__info ul li{  font-size: 16px;color: #fff;list-style: none;margin-bottom: 10px; }
 .offcanvas__menu__wrapper .offcanvas__info ul li span{  height: 30px;width: 30px;background: rgba(255,255,255,.1);border-radius: 50%;line-height: 30px;text-align: center;display: inline-block;margin-right: 5px; }
 .offcanvas__menu__wrapper .offcanvas__auth{  margin-bottom: 20px; }
 .offcanvas__menu__wrapper .offcanvas__auth ul li{  padding: 8px 15px;margin-bottom: 10px; }
 .offcanvas__menu__wrapper .offcanvas__auth ul li a{  font-size: 16px;color: #fff;display: block; }
 .offcanvas__menu__wrapper .offcanvas__auth ul li a span{  height: 30px;width: 30px;background: rgba(255,255,255,.1);border-radius: 50%;line-height: 30px;text-align: center;display: inline-block;margin-right: 5px; }
 .hero__item{  height: auto;padding-bottom: 100px; }
 .register__text .register__result ul li{  margin-right: 10px; }
 .pricing__swipe-btn{  float: none;margin-bottom: 40px; }
 .work__item{  margin-bottom: 30px; }
 .plan__text{  padding-top: 40px; }
 .footer__top-auth{  padding-left: 0; }
 .footer__top-call{  margin-bottom: 30px; }
 .about__text{  padding-top: 40px; }
 .about__text .about__achievement .about__achieve__item{  margin-right: 45px; }
 .team__btn{  text-align: left;margin-bottom: 40px; }
 .team__item{  text-align: center; }
 .team__item .team__pic{  float: none;margin-bottom: 15px;margin-right: 0; }
 .blog__hero__text{  padding-top: 90px; }
 .hosting__text .nav-tabs .nav-item{  width: 33.33%; }
 .hosting__feature__table{  overflow-x: auto; }
 .question__accordin{  margin-bottom: 20px; }
 .blog__sidebar{  padding-top: 50px; }
 .blog__details__item .blog__details__item__pic{  float: none;margin-right: 0;margin-bottom: 30px; }
 .blog__details__comment .blog__details__comment__list .blog__details__comment__item.blog__details__comment__reply{  margin-left: 0; }
 .blog__details__comment .blog__details__comment__list .blog__details__comment__item .blog__details__comment__text ul{  position: relative;margin-bottom: 20px; }
 .footer__text{  padding-top: 210px; }
 .blog-hero-section{  height: auto; }
 .blog-hero-section .blog__hero__pic{  position: relative;width: 100%;height: 640px; }
 .blog__hero__text{  padding-bottom: 40px; }
 .blog__details__option .blog__details__option__item.blog__details__option__item--next{  padding-top: 40px; }
 .text__404 form{  width: 100%; }
 .contact__text{  margin-bottom: 30px; }
 .contact-form form .input-list{  margin-right: 0;overflow: visible; }
 .contact-form form .input-list input{  width: 100%;margin-right: 0; }}
 @media only screen and (max-width:479px){ 
  body{  overflow-x: hidden; }
 .register__text .register__result ul li{  margin-bottom: 10px; }
 .mus{  position: absolute;left: 48.5%;bottom: 9%;animation: bounce2 2s ease infinite;width: 8%!important; }
 .wordpress .bg-section{  position: absolute;right: 0;min-height: 604px;padding: 0;top: 0;margin-top: 41px; }
 .hero__item .hero__text{  padding-top: 123px; }
 .wordpress .bg-section .green-shape h2{  margin-top: 0x;text-align: left;font-size: 24; }
 .wordpress .bg-section .green-shape{  width: 100%!important;border-radius: 77px 0 0 77px;padding: 15px 29px; }
 .wordpress .bg-section .green-shape ul li{  font-weight: 800;width: 46%;display: inline-flex; }
 .wordpress .bg-section .green-shape .btn-bottom-section-1{  position: absolute;z-index: -2;bottom: 0;width: 78%;background-color: #e671cf;top: -50px;left: -30px;height: 153px;transform: skew(-40deg);border-radius: 23px; }
 .moigration a{  background-color: #7355f7;padding: 15px 20px;margin-top: 25px;text-align: center;color: #fff;border-radius: 7px;display: block;width: 40%;margin-top: 30px; }
 .moigration{  margin: 126px 0;position: relative;z-index: 9999999999;display: block; }
 .wordpress .bg-section .green-shape .btn-bottom-section a{  background-color: #7355f7;color: #fff;padding: 12px 10px;border-radius: 15px;margin-left: 0;font-size: 12px; }
 .wordpress .bg-section .green-shape .btn-bottom-section{  position: absolute;bottom: 0;width: 100%; }
 footer .bg-l{  width: 100%;height: 50px;background-color: #09427d;margin: 10px auto;padding: 10px 0 0 0;display: block;border-radius: 6px; }
 .support{  background-color: transparent;position: relative;height: auto;margin: 125px 0; }
 .support .bx .support-chat{  position: relative;padding: 25px 20px;top: 0;border-radius: 30px 30px 30px 30px;background-color: #0d0d0d;width: 92%;margin-bottom: 20px; }
 .website-builder .inner-section h3{  font-size: 24px;margin-bottom: 10px;text-align: center!important; }
 .feature-rich .hosting-detail p.off{  background-color: #e9efff;padding: 8px 7px;border-radius: 10px;width: 100px;display: block;text-align: center;margin: 0 auto;margin-top: 0;margin-top: 15px; }
 .feature-rich .hosting-detail{  background-color: #fff;padding: 40px 20px;box-shadow: 0 8px 32px 0 rgba(0,0,0,.08);margin-bottom: 26px; }
 .inner-section{  margin: 0 auto;display: block;width: 100%;text-align: center!important; }
 .domain .input-btns-1{  padding: 19px 25px;position: relative;border-radius: 15px;top: 0;color: #fff;background-color: #7355f7;margin-top: 0;margin-left: 0;display: block;text-align: center;font-weight: 700; }
 .hosting-detail img{  width: 60px;text-align: center;display: block;margin: 0 auto; }
 .review .round{  background-color: #ccedff;padding: 15px 15px;border-radius: 62px;margin-bottom: 15px; }
 .resp{  width: 25%; }
 .domain .input-btns{  margin-top: 27px;display: block;text-align: center;font-weight: 600;margin-right: 0; }
 .team__item .team__text{  overflow: visible;padding-top: 30px; }
 .hosting__text .nav-tabs .nav-item{  width: 50%; }
 .blog__details__profile .blog__details__profile__pic{  float: none;margin-right: 0; }
 .blog__details__profile .blog__details__profile__text{  overflow: visible;padding-top: 30px; }
 .blog__details__comment .blog__details__comment__list .blog__details__comment__item .blog__details__comment__pic{  float: none;margin-right: 0; }
 .blog__details__comment .blog__details__comment__list .blog__details__comment__item .blog__details__comment__text{  overflow: visible;padding-top: 30px; }
 .blog__details__comment{  padding-left: 30px;padding-right: 30px; }
 .contact__text{  margin-bottom: 30px; }
 .contact__text ul li p{  font-size: 13px; }
 .register__text .register__form form span:before{  left: -5px; }
 .register__text .register__form form span{  right: 135px; }
 .register__text .register__form form span:after{  right: -11px; }
 .load-more .primary-btn{  padding: 14px 35px 12px; }}










 .assist-you ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
    margin-bottom: 0px;
}
.assist-you ul li p {
  font-weight: 700;
  position: relative;
  display: flex;
  padding-top: -3px;
  line-height: 25px;
  margin-left: 0px;
}

li i.mp-mkr {
  margin-right: 16px;
  font-size: 36px;
  color: #fff;
  background: linear-gradient(to left,#394d93 0,#362668 100%);
  border-radius: 70px;
  width: 70px !important;
  height: 68px;
  line-height: 69px;
  padding: 0 21px !important;
}

 .assist-you ul li i{ margin-right: 15px;
  font-size: 36px;
  color: #fff;
  background: linear-gradient(to left,#394d93 0,#362668 100%);
  border-radius: 70px;
  width: 68px;
  height: 68px;
  line-height: 69px;
  padding: 0 17px;}
  .assist-you ul li p h2{    }
  .form-validate .btn {background: linear-gradient(to left,#394d93 0,#362668 100%);}

.assist-you .order-lg-1 p{ font-size:20px;  }
.assist-you .order-lg-1 label{ font-size:18px; font-weight:800;  }






































  